[2013-05-24 18:05] anvc opened #1 "404 error when clicking on 'register' link"
(The following is an anonymized email to Scalar Info Design Director Craig Dietrich from a person installing Scalar on their own server)

---------- Forwarded message ----------
From: (redacted)
Date: Tue, May 21, 2013 at 11:19 AM
To: Craig Dietrich

I can't seem to register an account or log in. I get 404 errors upon clicking the links:

"The requested URL /scalar-master/system/login was not foun

[2013-05-24 18:08] #1 closed, assigned to craigdietrich

[2013-08-26 16:13] complexfields opened #2 "Problem with Media as Annotation"
A couple of times, when I allow a Media element (in this case, a jpeg) to also serve as an annotation - and then later change my mind and remove that annotation, the media element's page loses its content.

That is, if scalar.usc.edu/works/fooproject/media/dog is a jpeg, and I make it an annotation on another media file scalar.usc.edu/works/fooproject/media/dogs_poker, and then REMOVE the annotati

[2013-10-03 19:09] #2 closed, assigned to craigdietrich

[2013-11-07 18:07] complexfields opened #3 "Multiple author credits"
For books with multiple authors, it would be great to be able to see who authored what material, both on individual pages and in visualizations for the book.
The information seems to be there in the edit history for individual pages. Though we know that a page will store an author as having edited the page even if she only made a typo correction, would be better to just include every author who "t

[2013-11-15 20:30] mortis304 opened #4 "PHP Error"
After following the instructions for installation, this is the page that comes up for main Scalar webpage.  Can you provide any insight?

template->add_css(path_from_file(**FILE**).'title.css'); ?>
load->view('modules/cover/login'); ?>
Scalar

template->add_css(path_from_file(**FILE**).'book_list.css'); ?> '; foreach ($books as $row) { $uri = confirm_slash(base_url()).$row->slug; $title = trim($ro

[2013-11-19 00:06] #4 closed, assigned to nobody

[2014-09-18 17:19] paulshannon opened #5 "Error Reporting Levels"
There are several places where the error reporting level is being overridden to display all errors.

https://github.com/anvc/scalar/search?utf8=%E2%9C%93&q=error_reporting

It would be much better to have this as a configuration option. For instance, I'm getting lots of Deprecation errors from the mysql_* functions.

[2014-09-18 17:48] paulshannon opened #7 "Disable Registration"
There should be a simple way to disable registration

[2014-11-14 13:18] paulshannon opened #8 "Delete a book?"
I don't see any functionality to delete a book, Am I missing something?

[2015-03-30 19:09] #8 closed

[2015-05-29 00:12] anvc opened #12 "Anonymous Scalar 2 Issue"
Submitter: Erik
Email: erikcloyer@gmail.com
This is a test of anonymous bug reporting on github

[2015-05-30 00:29] #12 closed

[2015-05-30 10:31] anvc opened #13 "Excess space in importer, CTDA media issues, TIFF media issues"
Submitter: Shalin Hai-Jew
Email: shalin@k-state.edu
Windows 7
Google Chrome 43.0.2357.81

I went into the data importer...for the Shoah Foundation VHA Online and found the following:

In the data importer, when I have it open full screen, the results button at the bottom is invisible. If there could be less white space, that would be helpful… The following came up because nothing was found…but the

[2015-06-03 21:39] dwintergruen opened #14 "Get parameters like ?path=index"
I have installed the git version of scalar. This creates urls with parameters
like ?path=index.

And subsequently I get an 404.

[2015-06-04 19:57] craigdietrich commented on #14
Hi @dwintergruen,

We haven't received other reports of GET VARS causing problems on custom installs.  However, the method by which CodeIgniter (Scalar's underlying framework) gets its URLs is in:

system/application/config/config.php

Take a look for:

$config['uri_protocol'] = 'PATH_INFO';

PATH_INFO might not be the appropriate $_SYSTEM variable for your server setup.  The default value is "AUT

[2015-06-05 06:32] dwintergruen commented on #14
Great,
thank you this indeed solved it, I had changes PATH_INFO to AUTO because of different problems at the beginning. Now this works.

I have a few other issues with the current version in GIT. It looks like the date generation for the created field is not correct in some models. date(c) is used instead of date(‚Y-m-d H:i:s‘) at different places which leads to an mysql error at least in my setti

[2015-06-05 16:56] anvc opened #15 "Google Photos media support"
Submitter: Christopher Schreck
Email: cjschreck828@gmail.com
I'm having trouble adding a photo from url provided by Google Photos/Google Drive into my Scalar book. I've made the photo public and obtained a sharable url for a photo that I took myself and saved to Google Drive, and the Scalar program seems to think it has found it, but nothing appears when I save the media page. I had no problem wit

[2015-06-05 20:24] anvc opened #16 "Page's media not showing in Gallery view"
Submitter: Annie Johnson
Email: anj314@lehigh.edu
Hi,

I embedded an image on my page and set the page to Basic View. All was well. Then I changed the view to Media Gallery. When I hit save, the image did not appear on the page.

I am using Firefox 38.0.5 on a Mac (OS X).

Best,

Annie

[2015-06-08 21:24] eloyer commented on #16
The media gallery view currently does not include the page's own media, though it's a logical expectation that it would.

[2015-06-08 21:26] eloyer commented on #15
Suspect this is because Google Photos URLs don't point to actual files, and won't allow themselves to be embedded in an iframe.

[2015-06-08 21:30] eloyer commented on #15
If you right click on the image itself, open it in a new tab, then use that URL for importing, Scalar will display the unscaled image in an iframe.

[2015-06-08 21:30] #15 closed

[2015-07-20 08:49] zploskey opened #17 "ARC2 fails to connect to MySQL running on non-standard port"
I've set up an instance of Scalar running here at the University of Washington. As it is a shared hosting environment, we need to run our instance of MySQL on a unique port. I added a port to `system/application/config/database.php` as described in the CodeIgniter documentation:
    $db['default']['port'] = 1234;
This works and lets us connect to the database from the CI application, but apparentl

[2015-07-20 18:43] eloyer commented on #16
Now fixed.

[2015-07-20 18:43] #16 closed

[2015-07-20 18:46] eloyer commented on #13
Importers now show a warning message when no items are found; media handling has been updated to indicate that .tif images are no longer officially supported; CTDA image handling has been fixed so that other media formats can be imported from the archive.

[2015-07-20 18:46] #13 closed

[2015-07-20 23:08] #17 closed

[2015-09-09 21:33] rcrath opened #19 "404 not found in import section of dash"
hi, in my install of scalar (http://dahi.manoa.hawaii.edu), I get a 404 error in the import/export tab for the import function section of the page
![screenshot from 2015-09-09 11-30-08](https://cloud.githubusercontent.com/assets/944636/9774757/46f8214e-56e6-11e5-9269-af282752a6a0.png)

it is a fresh install from a day or so ago from git clone

[2015-09-09 21:47] craigdietrich commented on #19
Hi Rich,

Thanks for your interest in Scalar over at Hawaiʿi DH!

The Transfer Tool (that resides in an iframe there in the Import/Export tab) is actually kept in a seperate repository -- though it's linked in Scalar's Git, it doesn't download into the ZIP file.

All you need to do is head here: https://github.com/Michael628/scalar-book-transfer-tool , download the ZIP and place its contents into:

[2015-09-09 22:08] rcrath commented on #19
that did it.  that was fast! thanks.  I have a small DH grad class and we will be trying scalar this semester as an authoring platform.

[2015-09-09 23:41] craigdietrich commented on #19
Great to hear, keep us posted :)

[2015-09-09 23:44] craigdietrich commented on #5
Thanks for reporting this, Paul.  I'm going to start tackling this, removing error reporting functions system/application in favor of CodeIgniter's reporting level kept in config.php

[2015-11-03 21:31] ccc2lu opened #20 "Centralized authentication mechanism"
Is there a way to have our own hosted instance of Scalar use our campus CAS or an LDAP server for authentication of users?  It's fine with me if users still have to register for an account in Scalar before logging in, but I want the actual authentication to be done by one of these external authentication mechanisms.  I couldn't find any configuration options or plugins that handle this when settin

[2015-11-04 20:57] craigdietrich commented on #20
We haven't added any login hooks to Scalar other than what is presently in the login model (which hits the users table in the database):

https://github.com/anvc/scalar/blob/master/system/application/models/login_model.php

We've had our sights on incorporating a federated login (for Google+, FB, etc), but so far haven't made movement on this front.  Though I imagine it wouldn't be too difficult t

[2015-11-17 19:21] rcrath opened #21 "getting error message on scalar home page"
Hi, sometimes scalar will show a page with a short text saying the site is unavailable.  I cannot remember the exact phrasing.  Deleting cookies for the site restores it.  It seems to be something to do with multiple people either working on the same book or same doc, but not sure about that.  I can provide more details as needed, but the occurrence is semi-random, so it might take a while to repe

[2015-11-17 19:26] rcrath commented on #21
Here is the message we get (courtesy of a student who just got locked out!)

blank page with 'Disallowed Key Characters' in the top left corner"

[2015-11-18 04:29] craigdietrich commented on #21
Hi Rich,

You've encountered a protective layer in CodeIgniter (Scalar's underlying framework) that is a little too picky: there's a function that looks at the field names of incoming cookies and will display the error message and halt the application if there are special characters (e.g. ~ or @, etc).  There's a few spam tracking cookies out there that can invoke this.

Are you using Scalar on ou

[2015-11-18 04:30] #20 closed

[2015-11-24 02:15] rcrath commented on #21
THanks Craig, We are running our own instance.  I updated Input.php, and the site stayed up, so I assume we can close this issue.

[2015-11-24 02:15] #21 closed

[2015-12-21 21:52] craigdietrich commented on #5
Following up on this front way late!

A recent commit removes the error reporting calls, placing management of this back into the hands of CodeIgniter.  The latter can be managed under system/application/config/config.php.  By default it places errors and messages into a file at system/logs rather than display them on the front end.

[2015-12-21 21:52] #5 closed

[2016-01-13 15:54] ccc2lu commented on #19
I installed Scalar here at Lehigh University and ran into this issue as well.  I was about to open an issue when I found this closed one for the same problem.  It would probably be a good idea to add this to the installation documentation, since the "Import/Export" tab is there in core Scalar.  Either that or add some code to the Import/Export page to check if the transfer plugin is there, and if

[2016-01-27 22:39] crism opened #24 "JSON parsing error displayed to user when uploaded file is too large"
If a user attempts to upload a file for a book, and that file is larger than the local PHP configuration allows, the user receives a JavaScript alert with the confusing message: “There was an error saving the file: SyntaxError: Unexpected token <”

This appears to trace to `system/application/views/arbors/html/common.js`, in which `validate_upload_form_file_return()` parses the server’s response a

[2016-01-27 22:41] crism commented on #24
In the server error log at the time of upload is this message: `PHP Warning:  POST Content-Length of 60730159 bytes exceeds the limit of 8388608 bytes in Unknown on line 0, referer: http://.../scalar/dummy-book/upload`.

[2016-02-05 21:24] paulshannon opened #26 "Install fails on mysql:5.7"
[`system/application/config/scalar_store.sql`](https://github.com/anvc/scalar/blob/master/system/application/config/scalar_store.sql#L75) fails with

`ERROR 1067 (42000) at line 71: Invalid default value for 'datetime'`

on mysql version 5.7

[2016-02-05 21:43] craigdietrich commented on #26
Thanks for the report, Paul!

Did you recently upgrade to 5.7, and noticed the problem?   There's four places where 'datetime' turns up in the SQL file:

3 are like this:
`created` datetime NOT NULL
The other is like this:
`datetime` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00' ON UPDATE CURRENT_TIMESTAMP

I'm guessing it's the NOT NULL in the 3 like statements, since there isn't a default set

[2016-02-05 23:14] paulshannon commented on #26
I was setting up a new install. It's the `NOT NULL DEFAULT '0000-00-00 00:00:00' ON UPDATE CURRENT_TIMESTAMP` that is throwing the error.

I'll try and nail down a fix on monday.

[2016-02-05 23:24] craigdietrich commented on #26
Great, thanks for taking a look!

If changes are needed, happy to administer a pull request, or we can add you to the project.

[2016-02-11 19:55] paulshannon opened #29 "Blank Error Page on install"
Trying to set up a docker based install and running into a blank page. Any thoughts on what is wrong or how to get it to spit out an error (or where it might be pitting out an error) would be appreciated.

I've tried setting `$config['log_threshold'] = 0;` in `system/application/config/config.php` to values 1,2,3 and 4 but there is no effect.

--

If you're not familiar with docker, it is basicall

[2016-02-11 23:28] #26 closed

[2016-02-11 23:37] craigdietrich commented on #14
Hi @dwintergruen -- apologies for the late reply.  We're just now getting back around the scalar_store.sql file and making some adjustments (for example: https://github.com/anvc/scalar/commit/f2145fecae24212af3182da5bbcaab0246d9959a ).

Are you still experiencing issues with the DB creation?  If so, we could use your assistance weeding out any inconsistencies.  Or, if you've run into any issues wi

[2016-02-11 23:40] craigdietrich commented on #24
Hi @crism,

Thanks for pointing this out!  I'm able to duplicate the issue on my end.  What's occurring is that the PHP error at the top is HTML which causes jQuery to not be able to parse the return as JSON.  I should be able to trap inside a try/catch and place into an error field in the JSON, as you suggest.

Nb, uploading occurs here: https://github.com/anvc/scalar/blob/master/system/applicati

[2016-02-11 23:42] craigdietrich commented on #7
@paulshannon Are you envisioning a protection beyond the "registration key" available in local_settings.php?  Ie, removing the registration page entirely so no one can register or even know that they can register with a key?

[2016-02-11 23:44] craigdietrich commented on #29
Can you send a message here, attention me (Craig):

http://scalar.usc.edu/contact/

This way we can shoot some emails back and forth?

[2016-02-12 13:18] paulshannon commented on #7
I don't know what that setting does. I don't see any documentation on it.

[2016-02-12 16:50] crism commented on #24
Thanks, @craigdietrich.

[2016-02-12 17:33] craigdietrich commented on #7
If you place a string(s) in this array in local_settings.php...
[code]
... it will add a form field to the registration page called, "Registration key".  New users will have to enter the key (or one of the keys) in order to register, otherwise the page will return an error message.

Let me know if this is sufficient for your needs or if you're looking for something more advanced?

[2016-02-12 17:35] paulshannon commented on #7
That's fine for my immediate needs. Thanks!

[2016-02-12 17:35] #7 closed

[2016-02-25 14:32] dbYoung opened #32 "Markdown support feature"
This is great tool. I don't know Why this tool is not famous ....

Anyway, could you make Markdown support feature?

or convert from markdown... I have a bunch of markdown document...

and the convert process is so pain.

[2016-02-25 14:36] dbYoung opened #33 "Githubs Fenced highlight code block Support"
How about support Fenced code block features?

[2016-02-25 18:18] paulshannon commented on #29
Something was eating up my error logs. I finally was able to generate this.
[code]
From the index page on a fresh install.

[2016-02-25 18:45] paulshannon commented on #29
The sql script wasn't installing correctly (but didn't throw an error in my build process).

May I suggest that having the application in that state should not lead to a blank screen?

Sorry for the noise.

[2016-02-25 18:45] #29 closed

[2016-02-25 20:49] paulshannon commented on #26
I think there is some additional compatibility problems with some newer versions of Mysql (couldn't create an account on 5.6). I've reinstalled on 5.5 and it seems to be fine. Probably worth investigating at some point.

[2016-02-26 19:58] paulshannon opened #34 "Move book files"
It would be great to have the ability to move where the books file (and the directories) are stored.

[2016-02-28 23:42] craigdietrich commented on #26
I've created a ticket in our internal issue tracker, will take a look.  Thanks!

[2016-02-28 23:47] craigdietrich commented on #34
My original intent with putting the directories where they are is that they, and the files kept in them, are real, resolvable URLs that fit with the rest of Scalar's virtual, page URL scheme, e.g.,  http://my-domain.com/my-book/media/my-file.jpg is "real" and plays ball with a virtual page such as http://my-domain.com/my-book/my-page.

That said, there's no really good reason the directories could

[2016-02-28 23:51] craigdietrich commented on #29
@paulshannon Do you have a recommended way to do this?  Does it involve placing  ini_set('display_errors', 1); error_reporting(E_ALL); etc in CodeIgniter's error handling method, do you think?

[2016-02-29 04:56] plusperturbatio commented on #29
@craigdietrich What's weird about this is that if you look at the index.php file, it has the line, "error_reporting(E_ALL);" - CodeIgniter also has its own error formatting page for when a PHP error is thrown. I suspect that in @paulshannon 's case (correct me if I'm wrong, Paul), the php.ini settings are set such that errors are not displayed.

This could be corrected with ini_set('display_errors

[2016-02-29 15:15] paulshannon commented on #34
In my specific use case I want all the files that need to be backed up in one place (and right now it's in with a bunch of stuff that doesn't need to be backed up).

It's also causing some issues with mounting.

[2016-02-29 17:26] craigdietrich commented on #29
Is it true that in the case there's some core problem (like MySQL not hooking up), even with error reporting properly turned on and the error level > 0 in the config, that no errors display or get logged, @paulshannon?

But I like the idea of maybe having a "development" vs "production" bit ... we could even extend this to the config files themselves (I think you've mentioned this before, @plusper

[2016-02-29 19:14] paulshannon commented on #29
I think that is the case. I'm not familiar with codeigniter though. What settings should be enabled to throw show the errors?

[2016-03-03 13:31] burki opened #35 "Registrations fails"
Upon user-registration, I get the error
  Field 'password' doesn't have a default value
for the query
  INSERT INTO `scalar_db_users` (`fullname`, `email`) VALUES ('My Name', 'my@email')
generated by
		$data = array('fullname' => $fullname, 'email' => $email);
		$this->db->insert($this->users_table, $data);
in https://github.com/anvc/scalar/blob/master/system/application/models/user_model.php (MyS

[2016-03-03 13:42] burki commented on #35
Similar issue with creating a new book:

INSERT INTO `scalar_db_books` (`title`, `slug`, `user`, `created`, `stylesheet`, `template`) VALUES ('My Title', 'my-title', 1, '2016-03-03 14:34:19', 'minimal', 'cantaloupe')

Since fields 'description' / 'thumbnail' / 'background' / 'custom_style' are defined as NOT NULL without a DEFAULT in `scalar_db_books`

[2016-03-03 20:30] burki opened #36 "MySQL 5.6 datetime issues"
Upon creating a new page, I get the error:
   Incorrect datetime value: '2016-03-03T14:45:21+01:00' for column 'created'
for
  INSERT INTO `scalar_db_content` (`book_id`, `slug`, `type`, `is_live`, `color`, `user
`, `created`, `thumbnail`, `background`, `banner`, `custom_style`, `custom_scripts`, `audio`) VALUES
 (1, 'index', 'composite', '1', '', 1, '2016-03-03T14:45:21+01:00', '', '', '', '', ''

[2016-03-03 21:22] craigdietrich commented on #36
Hi @burki,

Thanks for your reports!  I haven't had a chance to use MySQL 5.6, but I'm assuming this and the other issues you've run in to are related to this version.  Our testing and production environments are all 5.5.

For example, I could see 5.6 not allowing a date('c') formatted string, while 5.5 does.

Is it possible to revert your MySQL to version 5.5?  We have heard any other reports of

[2016-03-03 21:24] craigdietrich commented on #35
See reply at https://github.com/anvc/scalar/issues/36

[2016-03-13 19:19] craigdietrich commented on #24
Hi @crism, this is now corrected in https://github.com/anvc/scalar/commit/0f75b1bcc0b13b69be8840cfcea8d84b64098377

PHP was correctly throwing errors when the file was too big for upload_max_filesize, but not when the file was too big for post_max_size.

Thanks for logging this bug!

[2016-03-13 19:19] #24 closed

[2016-03-14 15:40] crism commented on #24
Great, @craigdietrich—thanks!

[2016-03-21 03:00] craigdietrich commented on #19
@ccc2lu This is correct in the recent commit https://github.com/anvc/scalar/commit/1324ca23df73598049af2c7c2d904cf08d9effb9

Thanks for prompting this update!

[2016-03-21 03:00] #19 closed

[2016-03-24 09:48] stuchalk opened #37 "Installation confusion"
I am trying to install scalar by aliasing the folder in apache2 but its not working.
Current config is...

[code]

I have tried setting the alias to
`Alias /scalar /pathtosclarafolder/scalar
`and
`Alias /scalar /pathtosclarafolder/scalar/system
`but no luck.
How should this be setup?

[2016-03-25 05:12] craigdietrich commented on #37
Hi Stuart,

Thanks for your note!   Is the alias you're setting up masking the URL?  For example, even though the Scalar install is kept at /pathtoscalarfolder/scalar, is the URL that one would use to access Scalar something else, e.g., http://mydomain.com/?

If so, this will break Scalar's URL routing.  Scalar, based on CodeIgniter's underlying URL routing, uses the first URL segment after the in

[2016-03-29 17:33] stuchalk commented on #37
OK, I was able to solve my problem by editing the .htaccess file at the root of the scalar directory structure.  I added `RewriteBase /scalar` after the initial RewriteEngine rule.  But I now have another problem. I now get the following error...

[code]
Should I try to fix the PHP code (I use PHPStorm IDE) or just change the error_reporting level?

[2016-03-29 17:45] craigdietrich commented on #37
Hi @stuchalk

Thanks for sticking with this!

I would change the reporting level.  CodeIgniter makes this kind of confusing since it takes over the error handling, so there's a couple places it can be adjusted: in system/application/config/config.php, you can set log_threshold to 0.  But this doesn't always work (for example, on XAMPP I still get errors), in which case you can always adjust error_

[2016-04-04 12:45] burki commented on #36
Hi @craigdietrich
See https://github.com/anvc/scalar/pull/38 for a pull-request to fix the issues I encountered so far with MySQL 5.6.

[2016-04-04 12:45] #36 closed

[2016-04-22 19:58] jekaanne opened #39 "Question about site import"
We recently migrated our site to Reclaim Hosting because of performance issues, but now the site media links appear to be missing. According to the import/export instructions:

Uploaded media: Media uploaded directly to a source book will not be physically transfered to a destination book. Rather, the destination media pages will point to the URL of the media housed in the source book. This means

[2016-04-22 20:02] craigdietrich commented on #39
Hi @jekaanne,

Thanks for your question!   I'm not sure why the 'replace existing' pulldown wouldn't have values.  You're able to see the media pages in Dashboard > Media tab?  (Scalar is supposed to propagate the Replace Existing pulldown based on that list.)

Nevertheless, the easier way would be to FTP the files (90+) to your Reclaim setup ... there should be a folder for your Scalar book insid

[2016-06-16 18:31] ccc2lu opened #42 "Questions about CKEditor config and plugins"
A user at Lehigh University wants to me to customize some aspects of the WYSIWYG editor in the Scalar 2 interface.

First, he wants to know if it can be configured to auto-save changes while he's working on a page.  I found this CKEditor plugin:
http://ckeditor.com/addon/autosave
If I were to install this plugin in ${scalar_dir}/system/application/views/widgets/ckeditor/plugins and configure it in

[2016-06-16 18:34] ccc2lu opened #43 "Way to turn off comments by default?"
A user at Lehigh University wants to know if there's a way to disable comments by default for newly published pages.  Can this be done at the page or book level?

[2016-06-17 03:50] craigdietrich commented on #43
Hi @ccc2lu,

In Dashboard > Sharing one can force comments to be moderated, in which case they will be hidden in the book until an author "approves" it (by setting it live in Dashboard > Relations > Comments).  Is this sufficient?

The comment thought bubble icons at the bottom of every Scalar page can be hidden by CSS, which is probably the easiest/best option to simply remove commenting all toge

[2016-07-10 06:23] #35 closed

[2016-07-10 06:36] craigdietrich commented on #42
Hi @ccc2lu

Very sorry about the late reply!

Looking at the auto-save plugin, the documentation says that it saves snapshots every 25 seconds to HTML5 localStorage, so I don't think this will conflict with the edit page's saving, which uses the Scalar API to save page content (incrementing the current version of the page) ... I think the idea is that if something goes wrong on the page (it crashe

[2016-08-01 12:58] tuxnani opened #46 ""No input file specified." when clicked on Register/Login"
Hello,

I have an instance of scalar installed at http://rahman.veeven.com/scalar/
When I click on Register or Login, I get a page with "No input file specified." and nothing else.
What might be wrong?

[2016-08-01 18:55] craigdietrich commented on #46
Hi @tuxnani,

Is there a chance you're hosting on GoDaddy?  If so, I think a small change needs to be made to the .htaccess file in the Scalar root folder: http://stackoverflow.com/questions/6118740/codeigniter-no-input-file-specified

Let me know if this is the case?  If not, I'm happy to further assist!

[2016-08-19 13:34] tuxnani commented on #46
The hosting is on hostgator. and the directory structure is something like

/
|- public_html
|  | -  base site
|  |   | - scalar
|  |   |  |- .htaccess
|  |   |  L- codeigniter.php

Should I put .htaccess in base folder instead?

[2016-08-31 18:36] jskirby2 opened #47 "Scalar 2 Google Map Layout Page Problem"
I'm not very good with web design stuff and I'm not sure if this is where I'm supposed to put these types of questions but in the last three days I have been tried to create a page using the Google Map layout and whenever I try to add spatial metadata the page says it's saving but never fully saves, then when I leave the page it messes up what I had done before. For example, it made a version of t

[2016-08-31 19:32] craigdietrich commented on #47
@jskirby2  Hi!

Thanks for your note, and sorry to hear about the hiccups.  We've had some reported issues with saving and logout issues since the weekend, which we're trying to address.  I suspect this is related.

Can you send details, including your Scalar book URL, to scalar.usc.edu/contact?

Thanks!

[2016-09-01 21:16] jskirby2 commented on #47
Everything is working a lot better today thank you!

[2016-09-01 21:23] craigdietrich commented on #47
@jskirby2 Great to hear!  I pushed live an update last night that corrected what I think was the root of the logout problems.  I also noticed that the Semantic Web (metadata) tables were having problems, so I repaired them.  I'm keeping an eye on things hoping more problems don't crop up.  Definitely let me know if they do!

Thanks,
Craig

[2016-09-12 18:57] jskirby2 opened #48 "Scalar and Firefox problems?"
Hi!
I tried to sign on http://scalar.usc.edu/    using Firefox (pretty close to default version of Firefox with a few plugins from Adobe and MS Office) and it leads to a 404 Not Found page. I am signed in when I go to the page for the book and I can sign in with Chrome fine. Is Chrome the recommended browser for Scalar? Are there browsers that are preferred/ should be avoided? Any information woul

[2016-09-12 19:02] craigdietrich commented on #48
Hi @jskirby2,

All browsers should behave the same.  It could be that your Firefox has something cached that is impacting it's ability to load the login page.  Maybe try clearing your browser history, then trying again?

Here's a shortcut to the login page:
http://scalar.usc.edu/works/system/login

Cheers,
Craig

[2016-09-12 19:07] jskirby2 commented on #48
Yup, that seems to have fixed the problem. Thanks!

[2016-09-12 19:14] craigdietrich commented on #48
You bet!

[2016-09-12 19:14] #48 closed

[2016-10-21 11:06] pguerr061703 opened #49 "HELP HELP!!! Scalar redirects back to login screen after I log in"
I have a problem with scalar. It keeps REDIRECTING me to login screen after I LOG IN.
I  am never LOGGED IN (in scalar).
My virtual host is NOT using SSL. Strictly standard virtual host with port 80 listening
I am using the default .htaccess (that came with scalar) in my /var/www/html/scalar directory.
On a Redhat virtual host.

Can someone please help me find out WHY this is HAPPENING?
I really n

[2016-10-26 14:03] pguerr061703 opened #50 "LacunaStories - update to Drupal 7.5.1"
Hello,
I am running LacunaStories on  Drupal core 7.5.0 on a Ubuntu 16.04 virtual host.
When I click on  Report-->Status Report , I noticed that Drupal 7.5.1 is available.
Can someone let me know how I can perform this update manually?
Will  LacunaStories work on 7.5.1 ? Anything to look out for?
I already backed up the database (via Backup and Migrate).

Thank you

[2016-10-26 15:32] eloyer commented on #50
Hi @pguerr061703, this is the issues forum for Scalar—I think you may be looking for this forum instead: https://github.com/PoeticMediaLab/LacunaStories/issues

[2016-10-26 15:33] #47 closed

[2016-10-28 02:53] plusperturbatio commented on #49
Hey there, sorry this is a bit late getting back to you but - could you make a PHP file somewhere on your server that you can access with the following contents:

`<?php

phpinfo();

?>`

Once this is made, go to that page. You should get a purple and grey information page detailing your server's PHP installation. Search for the word, "Session" - there should be a section containing the item, "Ses

[2016-10-29 00:24] #50 closed

[2016-11-14 19:36] pguerr061703 opened #51 "Restrict user access to scalar for a particular domain (fordham.edu)"
Is there a way to restrict access to Scalar, so only Fordham students (students with @fordham.edu in their email address) can register only? Is there any way to restrict to non-Fordham students ?

Thank you,
Patrick

[2016-11-14 20:04] craigdietrich commented on #51
Hi @pguerr061703

If you'all use an LDAP server, there's room for that already built into Scalar; see the LDAP fields in the config file: https://github.com/anvc/scalar/blob/master/system/application/config/local_settings.php

Other than that, you could add some lines of code to the login model at https://github.com/anvc/scalar/blob/master/system/application/models/login_model.php that does a simp

[2016-11-14 20:12] pguerr061703 commented on #51
Excellent suggestions.  I will test them out. Thank you.
-Patrick

[2016-11-14 20:54] pguerr061703 commented on #51
Will this work ?  I want to confirm before implementing?  Should the use_ldap variable be set to true?

$config['use_ldap'] = true; // LDAP authentication is off by default
$config['ldap_server'] = "Fordham-LDAP-server.edu";
$config['ldap_port'] = 636;
$config['ldap_basedn'] = "ou=people,o=fordham.edu,o=cp";
$config['ldap_uname_field'] = "Fordham-LDAP-account";

[2016-11-14 21:21] craigdietrich commented on #51
LDAP isn't my specialty but that looks right. I say go for it :)

[2016-11-15 15:03] pguerr061703 commented on #51
LDAP entries. It didn't work. Not sure why. Can you provide me a line I could use to add to login_model.php to only allow emails with "fordham.edu" to register to scalar. This may be an easier alternative.

I am not PHP admin, so I am unsure how to do this.
thank you

[2016-11-15 15:06] craigdietrich commented on #51
Real quick, if @ccc2lu is watching this thread, he added the LDAP settings, so he might be able to help out with that.   @ccc2lu any thoughts?

[2016-11-15 18:01] ccc2lu commented on #51
@pguerr061703  -- those LDAP settings look generally correct to me.  Here's what I use at Lehigh University, with the hostname of the LDAP server just redacted:

$config['use_ldap'] = 1;  // Default: off
$config['ldap_server'] = "ldap.server.name.lehigh.edu";
$config['ldap_port'] = 389;
$config['ldap_basedn'] = "dc=lehigh,dc=edu";
$config['ldap_uname_field'] = "uid";

I recommend just doing some t

[2016-11-17 18:05] pguerr061703 commented on #51
It didn't work.  I am not sure I want to configure LDAP.
Can someone please assist with adding lines to login_model.php to only allow emails with "fordham.edu" to register to scalar

[2016-11-17 20:09] craigdietrich commented on #51
@pguerr061703 Why don't you give this a try: if you open up the user model,

https://github.com/anvc/scalar/blob/master/system/application/models/user_model.php

Then search for the "register" function, I think you could simply place this at the top of the function (ie, before the line that says "// ReCAPTCHA version 1"):

`if (!stristr($array['email'], 'fordham.edu')) throw new Exception('Only em

[2016-11-17 20:10] #49 closed

[2016-11-17 21:50] pguerr061703 commented on #51
You are awesome!!! Thank you kindly!  Much appreciated.

[2016-11-18 01:55] craigdietrich commented on #51
You bet @pguerr061703!

[2016-11-18 01:55] #51 closed

[2016-11-18 02:23] pguerr061703 opened #52 "Reset password in scalar not working"
I can't seem to reset my password in scalar. As soon as I click forgot password and enter my email address and click "reset password" ...nothing happens.

Scalar is not doing anything...just waiting.

[2016-11-18 02:47] pguerr061703 opened #53 "Scalar messages in system/application/logs"
Seeing these errors in /var/www/html/scalar/system/application/logs
Can you let me know what is causing this.
I have at least 20 users on my Redhat6 scalar server.
Thank you.

ERROR - 2016-11-17 21:38:56 --> Severity: Notice  --> Trying to get property of non-object /var/www/html/scalar/system/application/views/modules/dashboard/book_style.php 19
ERROR - 2016-11-17 21:38:56 --> Severity: Notice  -

[2016-11-18 02:50] craigdietrich commented on #52
Scalar uses SMTP to send emails if configured to do so, so I'm guessing either a) you've entered SMTP fields into config/local_settings.php, but your server doesn't have SMTP turned on; b) SMTP settings haven't been added to config/local_settings.php, in which case Scalar will revert to PHP's mail() function, which is sketchy at best....

[2016-11-18 02:51] craigdietrich commented on #52
If push comes to shove you should be able to simply delete the value of 'password' in the users table of the database (e.g., in phpMyAdmin), in which case Scalar should prompt you to add one when you try to log in again.

[2016-11-18 02:53] craigdietrich commented on #53
These are only notices, I would ignore them.  It's PHP saying that a couple variables are empty when trying to be used in context.  (Technically we could clear these out but it's low priority.)

[2016-11-18 03:09] pguerr061703 commented on #52
Can you confirm if the smtp port needs to be in single quotes '465' or without  single-quotes 465 below ? BTW I substituted '<my###>'  for privacy
This should be working ...but its nothing happens. I confirmed smtp is setup and mail (sendmail) works on the server.

$config['smtp_host'] = '<mysmtp_server>.fordham.edu';
$config['smtp_auth'] = 'true';
$config['smtp_username'] = '<myserver>@fordham.ed

[2016-11-18 03:54] aaliceeee commented on #52
http://www.passwordmanagers.net/resources/Best-iphone-data-recovery-software-18.html
password manager for Windows systems

[2016-11-18 16:46] pguerr061703 opened #54 "Media Import issue within Scalar"
why the Media Import feature of Scalar routinely gives Internal Server error messages when you try to import from partner archives.

In Scalar, if you you are in a book (from tech professor:  shill18@fordham.edu has), and you go to the Import Option:
and try to get anything from Affiliated Archives, or Other Archives:
( try searching for Picasso, at the Met, for example,) you get:
"Internal Server

[2016-11-18 18:19] craigdietrich commented on #52
@pguerr061703 I might suggest removing the SMTP fields and setting 'smtp_auth' to false, to test to see if your server's PHP mail() function works .. who knows, it could work just fine for fordham's email system.

Back to SMTP: what do the logs say (if anything)?

[2016-11-18 18:19] #53 closed

[2016-11-18 18:21] craigdietrich commented on #54
Is the .htaccess file present in system/application/rdf?

https://github.com/anvc/scalar/blob/master/system/application/rdf/.htaccess

It's critical to allow requests through to the RDF proxy ... a lot of times the file doesn't get copied especially if you're using a Mac FTP client, where dot files are hidden.

[2016-11-18 19:20] pguerr061703 commented on #54
.htaccess is present.(see below)   Is this a possible firewall issue? ports that may need to be opened?
My Scalar server sits on a DMZ network.

# cat .htaccess
Satisfy Any
Allow from all# pwd
/var/www/html/scalar/system/application/rdf
#

[2016-11-18 19:58] craigdietrich commented on #54
Hmm... I don't know much (if anything) about DMZ .... can you open up your browser's NET console and see what the http error number + message is when you try to search for something?

[2016-11-22 18:20] clueboy37 commented on #54
I'm experiencing something similar with affiliates and other archives.

When searching the http result is a 404 error for my server, not the affiliate. "The requested URL /system/application/rdf/proxy.php was not found on this server." proxy.php is on the server, the path leading to it is accessible to the web server. The .htaccess file is present in system/application/rdf.

I'm running 2.1.1 on R

[2016-11-29 17:20] craigdietrich commented on #54
@clueboy37 ... and you're sure mod_rewrite (which enables .htaccess) is On in your apache config?

Your Scalar URLs are "clean", correct?   If not, for example, if page URLs have "codeigniter.php" in them, then this means the root .htaccess isn't working either.

[2016-11-29 17:22] craigdietrich commented on #46
@tuxnani the .htaccess file, and all of the files that are in the root folder  here:https://github.com/anvc/scalar , definitely, should all be in the same root folder on your server...

[2016-11-30 17:24] aarondmoss commented on #54
mod_rewrite is enabled. I just used it to send everyone to the maintenance page. I'm using version 2.1.2 now.

[2017-01-24 21:45] #37 closed

[2017-01-24 21:46] craigdietrich commented on #32
@baram204 Thanks for your note and kind words!

There's a number of markdown to HTML converters online, e.g., https://www.browserling.com/tools/markdown-to-html

Did you have something in mind as to what a built-in markdown converter might do?

[2017-01-24 21:58] cfletche commented on #32
FYI, Craig: This kind of integration is something we may one day want to look at -with the right funding- as OSCI and other museum-related publishing platforms all use markdown. I imagine as more academic publishers go online, it'll start to get used more as well.

Curtis Fletcher
Associate Director
Polymathic Labs
Sidney Harman Academy for Polymathic Study
USC Libraries

_________________________

[2017-01-30 15:40] pguerr061703 opened #55 "scalar SSL settings"
Hi.
I am hosting scalar on a Ubuntu virtual host to support some faculty members for the university I work for.  What settings can I change to get scalar to support SSL (https://scalar.domainname>)
What config files (if any) do I need to look at modifying?

Our Netscalar (router) supports HTTP--> HTTPS redirect.
Will the scalar application config require any modifications ?

Thanks for any assista

[2017-02-02 23:43] rcrath opened #56 "paths missing on image header layout"
Hi, When we use the image header layout, the paths are not included at the bottom of the page.  Is there any way to include the paths?

[2017-02-03 01:53] craigdietrich commented on #56
Hi @rcrath, path contents should be displayed on the bottom of a page regardless of the Layout.  Here is an example of it working properly:

http://scalar.usc.edu/works/page-layout-examples/image-header-layout

Maybe send us details at http://scalar.usc.edu/contact and we can try to diagnose the issue?

[2017-02-03 02:56] rcrath commented on #56
Hi @craigdietrich
will followup by contacting you. might be an upgrade issue.

[2017-02-06 20:22] rcrath commented on #56
@craigdietrich I followed up with an email a few days ago but have not heard back.

[2017-02-07 01:55] craigdietrich commented on #56
@rcrath I'm not sure what happen, I checked in with our program manager an no email made it through.  Can you send me an email directly?  It's my GitHub username at gmail.

[2017-02-08 21:58] crism opened #57 "Media upload sometimes silently fails"
Using Scalar 2.3 in our own installation (downloaded from GitHub).

A user is testing the system, uploading a series of JPEG images into her book. Some files succeed: the file uploads, a thumbnail is created on the filesystem, a database entry is created, and her browser is forwarded to the Scalar page for that asset.

Some files succeed but hang: a thumbnail is created, as is a database entry, bu

[2017-02-09 23:59] craigdietrich commented on #57
Hi @crism,

The file in question is relatively small, but it is over 1 meg which is kind of large for a web image.  It could be that your webserver is blocking uploads for files larger than a Megabyte. (I'd be surprised if this was the case, though, as, 2, 8, or 128 megs are typically the default.)

If you're familiar with the Web Inspector in your browser, or Firebug for Firefox: both will reveal

[2017-02-10 00:01] #14 closed

[2017-02-10 00:10] crism commented on #57
@craigdietrich: Our limit is currently set to 2 MB. The troublesome file is successfully uploaded to the server—it can be seen on the server filesystem, and a thumbnail is created (though identical to the original). A larger file (1.6 MB) succeeds, as well; there’s something odd about this one. At a minimum, though, the error handling should be more robust. There’s nothing in the server error logs

[2017-02-10 00:11] craigdietrich commented on #57
@crism Okay let's follow up through the contact page!  (I'll close this ticket for now.)

[2017-02-10 00:11] #57 closed

[2017-02-12 20:58] murrayLuke opened #58 "I can't get your site to load!"
Currently having issues with your site at this link http://scalar.usc.edu/scalar/

I can't get it to load due to timeout errors, and this was the only place I could find to get in touch with your project.

[2017-02-12 21:19] cfletche commented on #58
Hi Luke,

Yes there is a campus-wide network outage. University IT is working on the issue right now. Sorry for the inconvenience.

ANVC Team

________________________________
From: Luke Murray <notifications@github.com>
Sent: Sunday, February 12, 2017 12:58:31 PM
To: anvc/scalar
Cc: Subscribed
Subject: [anvc/scalar] I can't get your site to load! (#58)

Currently having issues with your site at t

[2017-02-12 21:23] murrayLuke commented on #58
good to hear. Will close this now.

[2017-02-12 21:23] #58 closed

[2017-03-10 18:26] jskirby2 opened #59 "Trouble creating an account"
Hello,
One of my coworkers was trying to create an account and can't seem to prove that he is not a robot and has been doing CAPTCHA tests for far too long (something like 20 minutes). The mountain one in particular gave him a lot of trouble. He is on Firefox and also has to do another CAPTCHA test to make a new book. As far as I know, he is a human.

[2017-03-10 18:28] jskirby2 commented on #59
I was able to set up an account today without any CAPTCHA tests beyond checking a "I am not a robot" checkmark on Firefox with a Swiss email account.

[2017-03-14 03:51] craigdietrich commented on #59
Hi @jskirby2,

Well, the CAPTCHA is Google's, not ours.  The one time I've seen the same thing that you describe is when the user had a bunch of spam and ad blockers on their browser, which conflicted with the CAPTCHA.  So a short solution would be to try a different browser?

Lemme know if that doesn't work, I could lower the security settings in Google's admin panel as a second resort...

[2017-03-15 20:58] jskirby2 commented on #59
He got in and is using it fine! Good to know, thank you!

[2017-03-31 09:29] timoguic opened #61 "Media import silently fails (HTTP 200)"
Hello,

We are running Scalar on Apache + PHP-FPM (v5). When trying to upload a book cover or to import local media into a book, the upload fails.

When changing the book cover, after the upload I am redirected to the dashboard page (system/dashboard). I can see the following log lines:
[31/Mar/2017:09:26:26 +0000] "POST /system/dashboard HTTP/1.1" 200 892 "Mozilla/5.0 (Windows NT 6.3; Win64; x64)

[2017-03-31 16:26] craigdietrich commented on #61
Hi @timoguic,

It sounds like the filesystem doesn't have the proper write permissions on the Scalar book's folder.  Meaning, PHP needs to have write access to the folder that Scalar is in (the Scalar root folder) and all of the folders that Scalar creates that correspond to each book.  Scalar should set every new folder it creates to 0775, which usually does the trick, but maybe PHP doesn't have

[2017-03-31 23:27] timoguic commented on #61
Thanks a lot! I turned on the development setting and it complained about the PHP function `createimagefromjpeg`. Turned out I didn't have the gd module active in my PHP config.
Problem solved, thanks again!

[2017-03-31 23:27] #61 closed

[2017-04-01 00:53] craigdietrich commented on #61
Great news!

[2017-04-12 15:32] crism opened #62 "Import support for Omeka S"
Omeka S has a significantly different API than Omeka (now called “Omeka Classic”). It would be nice to use Omeka S as a media source with Scalar.

[2017-04-13 17:30] craigdietrich commented on #62
Hi @crism,

I'd love to enhance Scalar's technical bridge to Omeka / Omeka S.  Do you work with them / would be willing to provide some input into how it works?  I've always been a bit confused by Omeka's API in general, mostly because most Omeka installs don't have it turned on.  But also, if using their hosted service, which is Amazon, there are no permanent URLs so we can't actually hook up to

[2017-04-13 19:54] crism commented on #62
@craigdietrich, we’re running our own installs of Scalar and of Omeka S. I’m not an expert in Omeka’s API, but I’m looking into it. It seems to be on by default, and is JSON-based, both of which should make things a little easier.

[2017-04-13 19:55] craigdietrich commented on #62
Mind shooting an email to http://scalar.usc.edu/contact cc Craig?

[2017-04-13 20:01] crism commented on #62
@craigdietrich I’d rather leave this issue open while I work on it. Last time I used that contact form, I never heard anything back and the issue was closed…

[2017-04-13 20:30] craigdietrich commented on #62
Eep ... maybe point me towards that other issue and I can take a look?

Well, hope we can find a way to work out the Omeka S option ... what would be a good way to proceed?

[2017-04-13 20:49] crism commented on #57
Hi, @craigdietrich—I never got any followup from this conversation.

[2017-04-13 20:49] crism commented on #62
I’ve posted on that closed ticket.

I’ve made a fork of Scalar, and will work on the Omeka S import there.

[2017-04-20 21:15] crism opened #63 "Omeka Classic media source hardcodes insecure URL"
in `system/application/rdf/omeka_to_json.php`, the given Omeka URL has its scheme stripped, and then `http://` prepended. If the Omeka installation is running over HTTPS, it is inaccessible to Scalar.

[2017-04-21 19:15] craigdietrich commented on #63
Hi @crism

I feel there is/was some reason I did that, having to do with Scalar not being well-functioning under https (because many of the plugins it incorporates don't run under https, we wouldn't be able to embed them).  But of course since the import mechanism is via a php proxy it's kind of a mute point.

In any event, Scalar's import mechanism is in the process of being replaced by a new too

[2017-04-21 19:17] craigdietrich commented on #62
Thanks @crism

As mentioned in the other thread just a moment ago we're moving things to Tensor at some point.  But your work getting an Omeks S importer working in the "old" importer will be invaluable!

Maybe we can catch up on skype or in person sometime!

[2017-04-21 19:18] #56 closed

[2017-04-21 19:19] #52 closed

[2017-04-21 19:20] #46 closed

[2017-04-21 19:25] craigdietrich commented on #55
Sorry for the late reply here.

Scalar supports https out of the box, and you need to do is route your requests to https (instead of http) and Scalar will adjust.  (You can take a look at the top of system/application/config/config.php to see where this occurs.)

There's a template in the .htaccess file in Scalar's root folder for moving all http requests to https.  It's not all that involved.

I

[2017-04-21 19:25] #55 closed

[2017-04-21 19:27] #43 closed

[2017-04-21 19:31] craigdietrich commented on #3
@complexfields This is now a thing!  Scalar 2 Custom JS: http://scalar.usc.edu/works/guide2/revealing-individual-authors-in-page-headers?path=advanced-topics

[2017-04-21 19:31] #3 closed

[2017-04-21 20:19] crism commented on #63
Thanks, @craigdietrich. We need the Omeka connection working pretty soon, and I think this is a pretty straightforward fix, so I’m going to try to get it done. What’s the timeline for Tensor?

[2017-04-21 21:16] crism opened #64 "Malicious code injection opportunity"
When loading media resources from a remote service, the XSL transformation file is specified in the form submission parameters as a URI. The Scalar server fetches this resource from the specified URI and applies it; the form submission could easily be presented with a maliciously-crafted XSLT, and Scalar will naïvely execute it. The remote-resource processing XSLT should only be loaded from the lo

[2017-04-21 21:18] craigdietrich commented on #64
Yes, great catch!  I've been meaning to validate the values against Scalar's list of archives (archives.rdf).  Will add to the list.

[2017-04-21 21:21] craigdietrich commented on #63
Scalar's /external page is also vulnerable to simply including spam pages inside its iframe ... though I'm not really sure how to protect that since in principle it's supposed to show any external page with Scalar's header at the top.

[2017-04-21 22:47] #54 closed

[2017-04-21 22:48] craigdietrich commented on #63
Re Tensor, it's actually working right now but certainly in "alpha" https://github.com/anvc/tensor .. I'm sort of timid to roll it out inside Scalar itself (it can operate on its own, actually) until I fill out a few more parsers for large archive systems such as CONTENTdm https://github.com/craigdietrich/tensor-profiles .

[2017-04-21 22:49] craigdietrich commented on #33
Hi @baram204,

Not sure if you're still investigating this, but could you provide an example of what you're hoping to do/see?

[2017-04-22 03:25] rcrath commented on #56
sorry for lack of followup on this @craigdietrich -- we solved it with a new install.

[2017-04-24 20:48] crism commented on #63
Thanks, @craigdietrich, for the Tensor update. I’m sending a PR for this issue, but will take a look at Tensor, too.

[2017-05-09 19:32] pguerr061703 opened #67 "scalar SSL settings - mixed content issue on scalar site"
I am trying to get scalar to work on SSL

 Is there something wrong with my configuration?
The server listens on 80 and my router does the SSL offloading from 443 to 80

Getting MIXED CONTENT. Any way to fix this ??
Here is a snippet of my system/application/config/config.php

$config['is_https'] = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] == 'on') ? true : false;
$config['base_url'] = 'http'

[2017-05-10 01:57] craigdietrich commented on #67
Hi!

Right off the bat it looks like PHP's "short tags" aren't turned on, in the screengrab.  This would explain why you're getting PHP in the output, instead of the rendered HTML page.  See https://github.com/anvc/scalar/issues/4.

CodeIgniter (our underlying framework) is supposed to jump in if short tags aren't turned on, but for some reason that feature doesn't work.

Let me know how this goes

[2017-05-10 03:08] pguerr061703 commented on #67
It works.  THANK YOU...however.
But I cannot log in or register. It keeps telling me invalid email or I didn't accept terms of service (which I did)...Where is the LOG file for scalar??   My install directory is /var/www/html/scalar
I need to see the logs to see why I cannot log in or REGISTER as a NEW USER

[2017-05-10 03:15] craigdietrich commented on #67
What happens when you try to register?  The page reloads with the error message in red at the top?

Seems like maybe the database isn't hooked up correctly.

Open up "codeigniter.php" in the root folder and change "production" to "development" .. this will turn on PHP errors, which might help.

Otherwise, the log level is kept in system/application/config/config.php ... try bumping it up to 2 or 3

[2017-05-10 13:19] pguerr061703 commented on #67
When I try to register, it says invalid userid or password? Why would it say that when I am REGISTERING an account for the 1st TIME?

![image](https://cloud.githubusercontent.com/assets/12171475/25900519/b6a14d9e-3561-11e7-853e-28c38ed33fbe.png)

[2017-05-10 13:29] pguerr061703 commented on #67
I found the problem, the username and password for the database(called 'scalar')has been changed.
I am no longer using the username in mysql called 'scalar' ....using 'scalar_myadmin'
Where is the config file to update the username for the database ?

[2017-05-10 14:01] pguerr061703 commented on #67
OK..now I'm getting email address already in use (when I try to register a NEW student) ...I increased the logs and this is what it says
How do I fix this ??

ERROR - 2017-05-10 13:55:30 --> Severity: Warning  --> date_default_timezone_get(): It is not safe to rely on the system's timezone settings. You are *required* to use the date.timezone setting or the date_default_timezone_set() function. In

[2017-05-10 14:44] pguerr061703 commented on #67
What type of encrpytion is the password for scalar_db_users? Trying to reset my password in scalar using mysql but its not working

mysql> UPDATE scalar_db_users SET password=PASSWORD('newpassword') WHERE user_id=1;

[2017-05-10 15:32] craigdietrich commented on #67
The database config is kept in system/application/config/database.php.  Did you not use this file when you installed Scalar?

Simply delete the value of the password in MySQL if you want to reset it; Scalar will ask you for a new one the next time you log in.

You can ignore the timezone warning... it's just a warning.

[2017-05-10 15:47] pguerr061703 commented on #67
Since I never received my email password(during a reset), I want to change my password in scalar_db_users table but its not working

Is this the command ??
mysql> UPDATE scalar_db_users SET password=PASSWORD('newpassword') WHERE user_id=1;

[2017-05-10 15:54] craigdietrich commented on #67
Right, so, per my previous message, set the password to empty ("") .... that will invoke Scalar to prompt you to create a new password the next time you login.  So something like,

UPDATE scalar_db_users SET password='' WHERE user_id=1;

While you're at it, you can make yourself an admin,

UPDATE scalar_db_users SET is_super=1 WHERE user_id=1;

You installed your own Scalar install, correct?  If y

[2017-05-10 16:21] aaron-collier opened #68 "Uploaded media not available in UI"
I've uploaded a couple of images to include in a book, they exist on the file system in the books media folder, but the "choose and image" list is empty, etc.

is there a config or permission that I'm missing?

[2017-05-10 16:24] craigdietrich commented on #68
Hi!

Do you mean, the choose an image pulldown for choosing a key image or background image?

Those pulldowns determine what is an image in a rather strict way, the file extension of the uploaded files need to be .jpeg, .jpg, .gif, or .png.  So, if your images don't have one of these extensions, or don't have any extension (which can happen on a mac), then they won't show up in the list.

Curious

[2017-05-10 17:09] aaron-collier commented on #68
My book is called "test" and this is my media folder:

[code]

So not sure why they aren't loading.

[2017-05-10 17:16] aaron-collier commented on #68
FYI - When I "Import Local Media File" - the upload works, the file shows up on the filesystem, but the UI doesn't indicate any success or failure, it just stays on the import page. So maybe something related to this is the problem?

[2017-05-10 17:21] craigdietrich commented on #68
Ah, so when you try to upload a file, the upload page doesn't refresh to a new page that shows the image, once the upload is complete?

When you go to Dashboard > Media tab, do you see anything listed there?

What Scalar install are you using?  One of ours (e.g., scalar.usc.edu) or a custom install?

[2017-05-10 17:26] pguerr061703 commented on #67
I reset my user password in mysql (made it empty using the commands below)  but I still cannot get in.
UPDATE scalar_db_users SET password='' WHERE user_id=1;
It keeps saying the password for this account has been reset. Check email. Since my smtp settings are off, i never got the email..
![image](https://cloud.githubusercontent.com/assets/12171475/25912055/01329a4e-3584-11e7-8d0d-85c5e2afbe8a.png

[2017-05-10 17:27] aaron-collier commented on #68
Right.

This is a fresh install from git master.

[2017-05-10 17:41] craigdietrich commented on #67
Run this and try again?

UPDATE scalar_db_users SET reset_string=NULL WHERE user_id=1;

(But leave the password empty when you log in, since you reset it to empty.)

[2017-05-10 17:42] craigdietrich commented on #68
When you go to Dashboard > Media tab, do you see anything listed there?

[2017-05-10 17:59] pguerr061703 commented on #67
THANK YOU!!! THAT WORKED!! YOU ARE THE BEST!
To recap on the changes for SSL
1) enable short_open_tag in /etc/php.ini
short_open_tag = On
2) change config.php as such  (since my router is doing ssl  offloading, scalar server listens on 80 --Netscalar does SSL offload to 443)
$config['is_https'] = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] == 'on') ? true : false;
*/

/*
$config['base_url'] = '

[2017-05-10 18:57] aaron-collier commented on #68
Nope.

[2017-05-10 19:09] craigdietrich commented on #67
Great to hear!  And thanks for the compliment :)

[2017-05-10 19:09] #67 closed

[2017-05-10 19:12] craigdietrich commented on #68
Are you familiar with the Web Inspector in your browser?  If so, could you open it up and click on the Console tab?  This will reveal the ajax request to the server (that comes back after the file is physically uploaded), in which case can you check to see what is returned and if there's any javascript or php error in there?

If the above is out of your league I can try to cook up a lighter weight

[2017-05-10 19:53] aaron-collier commented on #68
The validation javascript is certainly failing. Getting a null result. The apache user is the owner of the file system structure, so not sure why a permissions issue would be a problem unless it's doing something outside of the app filesystem structure.

[2017-05-10 19:56] craigdietrich commented on #68
Are you able to open up the request itself (might be under the Net tab)?  If so, under the "Response", you should see something, maybe some PHP errors?  Or, is the Response itself just blank?

If the response itself is blank, you can open up codeigniter.php in the root folder and switch "production" to "development" and try again: this should turn on errors.

[2017-05-10 20:13] aaron-collier commented on #68
Ah, thanks... getting somewhere. I have this error:

[code]

[2017-05-10 21:00] craigdietrich commented on #68
Ah!  That's it!

Do you have access to PHP on your server?  The GD Library needs to be turned on http://php.net/manual/en/book.image.php

I think thumbnail creation is the only operation that uses GD (though there's a few places that thumbnails are made).. if you can't get GD turned on I could put in the pipeline some hooks for Scalar to test whether those functions exist before trying to use them

[2017-05-10 21:20] aaron-collier commented on #68
FIXED!

Thanks! Was that in the docs? I missed it. That should probably be highlighted.

Thanks again!

[2017-05-10 21:23] craigdietrich commented on #68
Great idea, done! https://github.com/anvc/scalar/commit/01e291da5638b2842a7f32d8ef1ab7d87651c38d

Thanks for sticking with it!

[2017-05-10 21:23] #68 closed

[2017-05-10 21:35] #42 closed

[2017-05-17 15:40] cppdigital opened #69 "Unable to Import SQL files"
I've tried importing both SQL files (each with the proper collation) using both the command line and PHPMyAdmin but keep getting the following error:

#1064 - You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '-----
CREATE TABLE IF NOT EXISTS `scalar_db_books` (
  `book_id` int(10) unsigne' at line 1

I could edit

[2017-05-17 16:03] craigdietrich commented on #69
Hiya!

Are you using the SQL file from Scalar 2.1.5?  If so, I think some ill-formatted comments got committed to that version.  Go ahead and try the live version here:

https://github.com/anvc/scalar/tree/master/system/application/config

Let me know how that goes?

[2017-05-17 17:10] cppdigital commented on #69
That was it! Ok, thanks so much. Sorry for such a simple troubleshoot on the issues page, just didn't know where to reach out for help.

Best,

Tristan

[2017-05-17 17:43] craigdietrich commented on #69
No problem!  Thanks for your interest in Scalar!

[2017-05-17 17:43] #69 closed

[2017-07-05 13:25] pguerr061703 opened #70 "SSL using Scalar"
Hello,

On my virtual Redhat VM server, my Scalar site is giving me "404 Page Not Found" in the error log ("/var/www/html/scalar/system/application/log/log-2017-07-05.php")

When I go to http://scalar.domainnname.edu, I get the scalar HOME screen, but as soon as I click "Sign-In" link,the page does NOT render.  I get an "HTTP ERROR 500".

This page isn’t working.
https://scalar.domainname.edu is c

[2017-07-05 18:06] pguerr061703 commented on #70
I see the error now, but not sure how to fix it

170216 11:39:25 [ERROR] /usr/libexec/mysqld: Incorrect key file for table './scalar_store/scalar_store_o2val.MYI'; try to repair it
170216 11:39:25 [ERROR] /usr/libexec/mysqld: Incorrect key file for table './scalar_store/scalar_store_o2val.MYI'; try to repair it
170216 11:39:25 [ERROR] /usr/libexec/mysqld: Incorrect key file for table './scalar_sto

[2017-07-08 22:26] scottkleinman commented on #32
Here's one makeshift solution to grab some Markdown from GitHub. Place the following code in the **source** of your page:

[code]

Then add to the pages Javascript options (adding the URL of the raw Markdown document on GitHub):

[code]
The Scalar user guide warns that `$(document).ready()` may not work, but it does in this case. Grabbing Markdown content from GitHub allows you to edit offline and

[2017-09-20 19:51] amareshjoshi commented on #39
hi @craigdietrich,
we are in a similar situation. one of our faculty wants move her
scalar site to her online publish publisher.

can you explain which table.columns need to be updated?
i assume this will this leave other metadata associated with
each media file intact?

[2017-10-03 14:05] craigdietrich commented on #70
Yikes, this looks like a pretty deeply rooted issue with your webserver.  As a first step, are you sure that .htaccess is being used by your webserver?  It's needed for URL routing.  As far as the DB errors, this looks like it could be a simple problem of not having the correct values plugged in to system/application/config/database.php.

Any luck getting it going?

[2017-10-03 14:07] craigdietrich commented on #64
@crism Would you be able to put this on our repository as a pull request?

[2017-10-03 14:08] craigdietrich commented on #63
Able to put this as a pull request?

[2017-10-03 14:16] craigdietrich commented on #39
Hi @amareshjoshi,

Right, so, to copy all of the content (and relationships) in a Scalar book you'd use the Import/Export tool in the Dashboard.  But as mentioned after running the transfer the new Scalar book will point to the media at their old URLs in the old Scalar book, rather than transferring the media to its new location (via FTP or whatever).  This is because we generally discourage folks

[2017-10-03 18:21] #63 closed

[2017-10-06 18:40] pguerr061703 opened #71 "What is latest version of Scalar? How to identify the current version I have"
Hi,
I have downloaded and installed/configured scalar on a Redhat virtual host,  sometime in 2016, for the university that I work for. Can you please let me know how to identify what version i am currently running? Also what is the latest version available? Apparently a faculty member is looking to perform some action in Scalar, and cannot, yet, someone else was able to perform it in a USC version

[2017-10-06 19:48] pguerr061703 commented on #71
![image](https://user-images.githubusercontent.com/12171475/31295740-b7d67380-aaad-11e7-8b8b-88f94a393731.png)

The issue is the Scalar site is not displaying the images. Showing triangles where the actual images should be.

[2017-10-06 19:49] pguerr061703 commented on #71
![image](https://user-images.githubusercontent.com/12171475/31295777-dd8a0718-aaad-11e7-806a-276f096da10c.png)

Scalar.usc.edu displays the images  ...

[2017-10-06 21:21] eloyer commented on #71
Hi @pguerr061703 , you can see the list of available versions here: https://github.com/anvc/scalar/releases

Your best bet for determining your current version would be to check the creation date of the files on your server against the list above (we didn't integrate the version number into the code itself until earlier this year).

Based on what you find, the update file (https://github.com/anvc/

[2017-10-10 16:46] amareshjoshi commented on #39
hi @craigdietrich,
thanks! that worked, but i noticed a couple of other places
that referenced  the original book (banner and thumbnail).
also many of the "intra-book" links used an absolute URL with
the site name in it. so these had to be changed as well.

here's what i finally used
[code]

[2017-10-10 19:28] craigdietrich commented on #39
@amareshjoshi Wow, this is fantastic!  I'll go ahead and create a new page in the Scalar 2 Guide and put this in there, with credit to you (assuming that's okay).

[2017-10-10 19:28] #39 closed

[2017-10-19 18:56] crism opened #72 "ARC triple store fails if DB name has a hyphen"
[code]
This is due to `ARC2_Store::createDBCon()` and possibly other places not quoting the database name.

[2017-10-20 03:23] pguerr061703 opened #74 "Scalar upgrade"
Hello, I am currently at scalar version 2.1.1  on Redhat 6 virtual host. How do I upgrade to the latest version of Scalar? Is it version 2.7 ? Where do I get the latest version? Does the mysql database get ugpraded as well? Please inform how to perform this upgrade and what potentially can go wrong.

use cannot see images on current version. They appear as <question marks>. I was told an upgrade w

[2017-10-20 15:23] eloyer commented on #74
@pguerr061703 Have you checked out [UPDATE.txt](https://github.com/anvc/scalar/blob/master/UPDATE.txt)?

[2017-10-20 15:48] pguerr061703 commented on #74
I did review that document. How do I know if the upgrade is successful? Where would I find the version number (2.1.7) on the scalar site after the upgrade ? Is it listed somewhere? Can you provide additional assistance?

[2017-10-20 16:30] craigdietrich commented on #74
First, you can get the newest release here: https://github.com/anvc/scalar/releases .. simply download and extract the ZIP.

Then, follow the instructions under the heading "INSTRUCTIONS FOR UPDATING TO SCALAR 2.1.x FROM SCALAR 2.1 OR SCALAR 2.1.1", here: https://github.com/anvc/scalar/blob/master/UPDATE.txt  Really all you're doing is copying what's in the system/application folder to your webser

[2017-10-20 19:01] #72 closed

[2017-10-22 17:22] pguerr061703 commented on #74
My site became unresponsive because of this line that I added from  December 2016

Update: 11 December 2016
Add to $config['namespaces'] in system/application/config/rdf.php
**'id3' => 'http://id3.org/id3v2.4.0#'**

As soon as I  removed that line (id3 => id3.org/id3v2.4.0#) in rdf.php file,  my Scalar site came right up.(online)
Can you please confirm the syntax . This is what I originally had in

[2017-10-22 17:32] pguerr061703 commented on #74
I also still have problems determining the VERSION upgrade was successful.
I went to my site's URL <scalar<domain>.edu/system/application/views/scalar-version.php
However the output from the URL said  "No direct script access allowed".

Please let me know HOW to confirm the UPGRADE was successful.

[2017-10-22 20:53] craigdietrich commented on #74
View the file on the filesystem (e.g., FTP) not via the web browser.

[2017-10-22 20:55] craigdietrich commented on #74
PHP arrays need commas (",") after each line item.  So, in the example you posted you need to add a comma after the second-to-last line, like this:

'bibo' => 'http://purl.org/ontology/bibo/',

Then, you'll be safe to add a new last line like you did (the ID3 line).

[2017-10-22 20:56] #70 closed

[2017-10-22 20:57] craigdietrich commented on #64
Has this been included into anvc/scalar's repository?

[2017-10-23 14:55] crism commented on #64
#62 is still open, and the PR #66 is still open as well; accepting #66 will fix this. I didn’t make a PR specifically to fix this (#64), but I could try and tease it apart if you want to fix this without accepting #66.

[2017-10-23 16:58] pguerr061703 commented on #74
The upgrade did NOT solve the problem with the media gallery. Its still not displaying images.

I just created a quick book, and am still having problems with the thumbnails of images not rendering correctly:

https://scalar.[universitydomain].edu/car-test-book/test-of--structured-media-gallery

![media-gallery](https://user-images.githubusercontent.com/12171475/31902085-9d5b45de-b7f1-11e7-9cf0-8d

[2017-10-23 17:15] eloyer commented on #74
The other possibility could be that those media items don't have thumbnails. If you edit one of the pieces of media in question, go down to the Styling tab and select Thumbnail, is anything set?

[2017-10-23 17:16] craigdietrich commented on #74
The reason thumbnails aren't showing for those media is because those media don't have thumbnails.  You need to go to each media-page (ie, the page that is just the media file), edit it (pen icon), then under the Styling tab on the edit page, enter a thumbnail.

From the looks of the Media Gallery those are YouTube videos ... if you use the built-in YouTube importer (Tray icon > Other archives > Y

[2017-10-23 18:07] pguerr061703 commented on #74
Okay, great.  I am now able to get/generate thumbnails.

The other issue that your first github respondent mentioned (and I'd just given up on it) is that  you are supposed to be able to import, say, Youtube videos with appropriate thumbnails and metadata by doing this:

Inline image 1

Sadly, that results in this:

Inline image 2

[2017-10-23 18:21] craigdietrich commented on #74
Seems there's an internal server error :)

Check to make sure the .htaccess file is present on your server in /system/application/rdf, i.e., here:

https://github.com/anvc/scalar/tree/master/system/application/rdf

It's needed to allow requests from the Import pages through to the XSL parser. If you're managing your server with a Mac chances are your FTP client hid the .htaccess file, since dot fi

[2017-10-23 18:38] pguerr061703 commented on #74
Thank you, I checked, but the .htaccess is already there, so it must be something else (XSL) library
[root@ace-linux11 rdf]# pwd
/var/www/html/scalar/system/application/rdf
[root@ace-linux11 rdf]# more .htaccess
Satisfy Any
Allow from all
[root@ace-linux11 rdf]#

I couldn't find XSL library on my Scalar server for Redhat 6, unfortunately
[root@linux11 rdf]# rpm -qa |grep php5-xsl
[root@linux11 rdf

[2017-10-23 19:05] craigdietrich commented on #74
Unfortunately installing (or enabling) PHP extensions is a bit out of the set of the things I can assist with.

Usually you can edit php.ini and it may be simply commented out there; uncommenting it and restarting PHP can get it running.  But this is just speculation.

Do you have a server admin on your side you can talk to?

[2017-10-24 14:36] pguerr061703 commented on #74
I'm the admin. So I noticed that xsl is already installed and working:

Tested  via php -i | grep xsl --> Results show its working
/etc/php.d/xsl.ini,
xsl
libxslt Version => 1.1.26
libxslt compiled against libxml Version => 2.7.6
libexslt Version => 1.1.26
https://crappylabs.wordpress.com/2016/12/17/installing-php-xsl-extension-on-centos-7/

Also the .htaccess is already there and configured

[roo

[2017-10-24 15:41] pguerr061703 commented on #74
I need additional help. User is complaining that the import button is greyed out.
"
The ability to do so was working yesterday morning, so I'm confused as to why this is now happening.  When I try to import a local media file, (and yes, I've tried all permutations of the form, below) I can't click on "Upload":"
![image](https://user-images.githubusercontent.com/12171475/31953057-34cca502-b8b0-11e7

[2017-10-25 16:21] pguerr061703 opened #76 "Security restrictions in Scalar registrations"
Hello,
Is there any security restrictions that can assist stopping outside users from accessing my Scalar site?
I currently have edited the user_model.php to restrict registration to just my university's @institution.edu

[2017-10-25 17:09] craigdietrich commented on #76
Yes, see http://scalar.usc.edu/works/guide2/local-settings

I'd be careful changing Scalar system files like models as they will be overwritten if you update.

[2017-10-25 17:23] pguerr061703 commented on #76
It appears our Scalar site may have been compromised.  The security at the university is looking to see where these fake  @university.edu accounts were created.  This is a nightmare for me right now. Is there any logs to explain how these accounts got created ?  Looking in /var/www/html/scalar/system/application/logs ..but NOTHING about user account are present.

My belief is that there is NO vali

[2017-10-25 17:26] craigdietrich commented on #76
Correct, there is presently no email validation in Scalar.  If you wanted to write up the module and do a pull request, that'd be awesome.

You could easily set a registration key (see my previous comment).

LDAP would work perfectly.  You'll see fields for that in local_settings.php, as well.

If you followed the INSTALL.txt correctly, you should be a "super admin" for your Scalar install, in whi

[2017-10-25 17:33] pguerr061703 commented on #76
Can I remove the registration link from our scalar site? Can you tell me how to use ldap settings to authenticate ?  Our site has been compromised. Where are the logs?

[2017-10-25 17:53] pguerr061703 commented on #76
Can you let me know where the logs are for user creation ?  Security is looking into the logs

[2017-10-25 17:58] craigdietrich commented on #76
Adding a registration key would block registrations.

The LDAP fields are kept in local_setting.php. The values to put there depend on how your school has set up LDAP.

If your site is compromised go to All Books, All Users, and Tools tabs in the Dashboard as a super admin and simply delete the problem books and/or users.

[2017-10-25 18:57] pguerr061703 commented on #76
Hi Can you please validate my settings below.  Will this work? Can I have "ou=<my OU>,dc=subdomain1,dc=subdomain2,dc=subdomain3,dc=EDU" on that line below ?

//My school LDAP settings
$config['use_ldap'] = (getenv('SCALAR_USE_LDAP') ? getenv('SCALAR_USE_LDAP') : **true**);  // Default: off
$config['ldap_server'] = (getenv('SCALAR_LDAP_SERVER') ? getenv('SCALAR_LDAP_SERVER') : "**myldapderver.com**

[2017-10-25 18:59] craigdietrich commented on #76
I literally have no idea, I've never set up LDAP. Someone else committed the LDAP upgrade to our GitHub as a pull request. But I've heard other places have used it fine so I'm confidant it works correctly.

[2017-10-25 20:12] pguerr061703 commented on #76
can i take down the "registration page" and "login page" from Scalar?
We want no users logging in at this point.

[2017-10-25 20:18] craigdietrich commented on #76
Is suppose you could return false in both those methods in the login_model. But then you-yourself wouldn't even be able to login.

Requisite warning about adjusting system files if you plan to update Scalar.

[2017-10-26 17:35] pguerr061703 commented on #76
How does Scalar use LDAP ? Does it authenticate the user's email address? What is the field that is being looked at for LDAP authentication?

[2017-10-26 17:46] craigdietrich commented on #76
Take a look at the login_model, the LDAP function is in there.

[2017-10-26 17:47] pguerr061703 commented on #76
Thanks. Where are the logs for user authentication access?

[2017-10-26 17:51] craigdietrich commented on #76
You can set the log threashhold in config.php, but I don't think the logs will contain what you're looking for.

[2017-10-26 17:59] pguerr061703 commented on #76
LDAP is authenticating via email and password. Can we change this to authenticate via UID ? If so, how can we do this?

[2017-10-26 18:09] pguerr061703 commented on #76
Hi. THank you for your time helping me. I learned a great deal on Scalar.
1)User creation is not validating email addresses. correct?
2)Logs for user access. Is there a way to get that? We are looking at when some possible bogus accounts may have been created. Highly important.
3)Disable registration link on scalar page (how can i do that?)
4) Support for CAS (Central Authentication Service) avail

[2017-10-26 18:35] craigdietrich commented on #76
I don't know enough about PHP's ldap functions that are kept in the user_model's get_from_ldap_by_email_and_password() method to know what this config item in local_settings.php is communicating:

$config['ldap_uname_field'] = (getenv('SCALAR_LDAP_UNAME_FIELD') ? getenv('SCALAR_LDAP_UNAME_FIELD') : "uid");

It seems to me that if the system as presently designed accepts email addresses than 'uid'

[2017-10-26 18:42] craigdietrich commented on #76
Correct.

Although, of course, LDAP does its own validation if you have that turned on.

Like mentioned you could increase the log threshold in config.php to see what that gets you.  Anything beyond that you'd need to insert actions that write to the log into the login methods:

log_message($level, $message);

See https://www.codeigniter.com/user_guide/general/errors.html?highlight=logs

As mentio

[2017-10-26 18:51] craigdietrich commented on #74
It seems you have something on the server causing internal problems with both the import pages and the upload page.

I'd suggest opening up the Web Inspector on your browser, head over to the Network tab, and then run some imports and some uploads.  When you do these actions the Network panel will show the actual requests being sent to the server.  You can open up each request and look at the Resp

[2017-10-26 20:35] pguerr061703 commented on #76
Do you know the directory or name of file where I can find the landing home page for scalar.?

[2017-10-26 21:25] craigdietrich commented on #76
system/application/modules/book_list

You can create your own module then point to it with the $config['active_book_list'] = 'book_list'; setting.

[2017-10-27 12:12] pguerr061703 commented on #76
I'm building a new Red hat Scalar server with new Scalar version 2.17a, as management has directed.  Is there a way to copy all media/books and users from my old Scalar server to my new server? If so, what directories or export/import features can I perform?
Thanks.

[2017-10-27 17:42] pguerr061703 commented on #76
Is there a way to display php errors? I'm testing LDAP, but no errors are showing on screen, after LDAP configuration is in place.

[2017-10-27 17:47] craigdietrich commented on #76
Change 'production' to 'development' in /codeigniter.php.

You might want to spend more time getting to know Scalar and its underlying system, a lot of these questions have well-documented answers.  https://www.codeigniter.com/user_guide/general/environments.html | http://scalar.usc.edu/works.guide2

[2017-10-27 18:34] pguerr061703 commented on #76
Here's my error

A PHP Error was encountered

Severity: Warning

Message: ldap_start_tls(): Unable to start TLS: Can't contact LDAP server

Filename: models/user_model.php

Line Number: 182

[2017-10-28 12:26] pguerr061703 commented on #76
Can someone please show me a working ldap configuration in Scalar. Getting errors above.

[2017-10-31 14:40] dperzanowski opened #77 "Upgrading to Code Igniter 3?"
Are there any plans to upgrade Scalar to use CodeIgniter 3.x in the near future?

[2017-10-31 16:00] craigdietrich commented on #77
Not right now. We upgraded to CI 2 in 2016 which was a pretty big conversion so we're going to sit on it for a while before making plans for 3.  Is there something in particular in 3 that you needed?

[2017-10-31 16:09] dperzanowski commented on #77
Hey Craig, thanks for you quick response.

The biggest issue is I'm trying to get this set up on one of our servers, but it only has PHP 7.1 on it. Then there is the issue of CI2 no longer being supported and PHP 5.6 having little over a years worth of security updates left.

[2017-10-31 16:14] craigdietrich commented on #77
When we first ran the update I tested Scalar pretty extensively on PHP7 (I'm not sure what sub-version).  Have you tried it; is there anything in particular PHP7 is balking at?

I have access to PHP7 on my Dreamhost account, I could do another round of testing if that would be helpful.

[2017-10-31 18:31] dperzanowski commented on #77
I wouldn't be surprised if I'm missing things from the install instructions, but I'm unable to create books. I get the following error when I try to create a book while on the dashboard (`/system/dashboard`).

`Could not create the directory for this new book on the filesystem`

I also get the attached deprecation warnings from `libraries/Encrypt.php`.

![screen shot 2017-10-31 at 2 29 59 pm](http

[2017-10-31 18:36] craigdietrich commented on #77
First things first, you need to allow PHP to write folders inside the Scalar root folder, this would explain why you can't create books; Scalar creates a folder for each book in the Scalar root.  Go to the directory that contains the Scalar root folder and:

chmod 0775 ./<scalar root folder>

As far as the deprecation warnings, I suppose this makes sense.  I thought I had removed them for PHP7 but

[2017-10-31 18:47] dperzanowski commented on #77
Suppressing warnings isn't an issue. I set the environment to `DEVELOPMENT` so I could see some errors in an attempt to get the book creation working

Updating permissions on the webroot fixed the book creation issue. Are there other places where permissions need to be changed?

[2017-10-31 18:51] craigdietrich commented on #77
When it creates the book folders Scalar should chmod the newly created folders to 0775 (or whatever is set in system/application/config/local_settings.php), so that should cover any uploaded files that are supposed to write into those folders.  I think that's it.

Is Scalar otherwise working correctly?

[2017-10-31 18:53] dperzanowski commented on #77
So far it appears to be working. Thanks for the help!

[2017-10-31 18:56] craigdietrich commented on #77
Great!  Let us know if you run into any problems.

It'll be a while before we upgrade CodeIgniter so hopefully PHP won't get rid of those mcrypt functions anytime soon!

[2017-10-31 18:56] #77 closed

[2017-10-31 20:50] pguerr061703 commented on #76
What version of codeignitor is on Scalar 2.17a ?

[2017-11-01 16:42] pguerr061703 opened #79 "Import users and books from one scalar instance to another scalar instance(new version)"
Is there a way to import books and articles and users from one Scalar instance on one server (2.11) to another scalar instance (2.17a)? Is it as simple as copying directories or possibly performing some kind of export/import ? Please let me know as soon as possible. Thank you kindly

[2017-11-01 16:47] craigdietrich commented on #79
There is an import/export transfer tool that is well documented in INSTALL.txt and the Scalar 2 Guide's Advanced Features section.

[2017-11-01 16:47] #79 closed

[2017-11-02 13:50] pguerr061703 commented on #79
Where can I find the link to the Scalar 2 guide advanced feature section ?

[2017-11-06 19:32] pguerr061703 opened #80 "Getting an error logging into scalar. Can someone please help ??"
Fatal error: Call to a member function num_rows() on a non-object in /var/www/html/scalar/system/libraries/Session.php on line 233

Logs are not showing anything of help:
/var/www/html/scalar/system/application/logs/
DEBUG - 2017-11-06 14:31:32 --> Session routines successfully run
DEBUG - 2017-11-06 14:31:32 --> Helper loaded: url_helper
DEBUG - 2017-11-06 14:31:32 --> Helper loaded: html_helper

[2017-11-08 19:55] pguerr061703 opened #81 "Scalar book default location"
Can you please let me know where I can set the scalar book default location within Scalar?
I'm running Scalar 2.1.7a on a Redhat virtual host.

thank you

[2017-11-17 17:35] tmoon8730 commented on #80
I am seeing this same error but am also stumped on how to fix it. I am also seeing this error but I am not sure if they are connected:

[code]

If anybody has any idea how to fix this that would be greatly appreciated.

[2017-11-17 18:54] tmoon8730 commented on #80
I am running this project in a Docker container and forgot to import the sql dump file during installation.

If you see this type of error try importing the dump file as specified in the install.txt document. It worked for me.

[2017-11-17 18:56] craigdietrich commented on #80
Great to hear!  Thanks for the input.

[2017-11-17 18:56] #80 closed

[2017-11-17 18:57] #74 closed

[2017-12-08 18:51] crism opened #82 "Image property controls are misplaced and unusable in page edit"
When the image affordance is not right at the bottom of the user’s screen, the X and gear buttons float up and away from the picture frame:

![image](https://user-images.githubusercontent.com/1933900/33780420-b2d9e5fe-dc1e-11e7-8673-f293cdc1e363.png)

They disappear when the mouse is moved out of the frame, making them unreachable. The further the frame is from the bottom of the screen, the furthe

[2017-12-08 19:08] craigdietrich commented on #82
Hi @crism

This has been fixed (https://github.com/anvc/scalar/commit/fad9a7e7b9bec949bfa2e4f68a3d15950bc39099) but hasn't been included in a Release yet.

I'll probably put out a new Release in the next week or two.  In the meantime you could update your install from the GitHub master, I'm fairly confidant we haven't introduced any bugs.

[2017-12-08 19:10] craigdietrich commented on #82
Note that your users can delete the inline media element without using the red x .. simply put the cursor after the inline element and click backspace until it's gone .. then it can be re-inserted and new properties placed.

[2017-12-08 19:22] crism commented on #82
Thanks, @craigdietrich! We’re in a live workshop against the latest release (plus #66), and I hadn’t tested against our latest-and-greatest test server. I can confirm it’s fixed there; sorry for the false alarm.

[2017-12-08 19:22] #82 closed

[2018-01-24 16:40] mogoh opened #83 "Add German Translation"
Hello,

I would like to add German translation to scalar, especially for the frontend. This could be the issue to track progress.

There is this directory `/system/language/english/` which I guess should be copied and andjusted. Are there more php-strings not in there?

Also some strings to translate are spread over some javascript/jquery files. As I am not a javascript developer I don't know how

[2018-02-08 12:08] TayiSaiKishore opened #84 "Migrating On-Premise Scalar Application to Cloud PaaS Framework"
Greetings Team,

Currently, we are using 2.17 Scalar which is hosted on our local server.
However, our future plans are hosting application on cloud - PaaS framework. So, looking for any reference document for the same.

Thanks In Advance.

[2018-02-08 22:34] craigdietrich commented on #84
Hi!

Really shouldn't be too much too it.  You could simply set up Scalar on that new server, copy the MySQL database, and copy the project folders kept in the Scalar root directory.  This is if you wanted an exact copy.

Less exact would be to use our Import/Export tool https://github.com/Michael628/scalar-book-transfer-tool, though this requires a little more nuance.

So, I think in conclusion y

[2018-02-09 09:34] TayiSaiKishore commented on #84
Hello Team,

Thanks for the update.
However, we are testing in house.

Hosted webapp in azure with mysql backend.
Copied all required files. However, while accessing test link we see

[cid:image001.png@01D3A1B7.3461AD20]

From: Craig Dietrich [mailto:notifications@github.com]
Sent: 09 February 2018 04:04
To: anvc/scalar <scalar@noreply.github.com>
Cc: SaiKishore Tayi <saikishore.tayi@netenrich.com

[2018-02-09 17:07] craigdietrich commented on #84
Seems to be the azure service (which I don't really know anything about) isn't running Apache and/or doesn't have mod_rewrite active such that .htaccess is being activated.

[2018-02-18 02:41] rcrath opened #85 "rewrite path header using innerhtml"
Hi, I am trying to rewrite the H1 header that is autogenerated at the top of the path on the [home page of this site](http://dahi.manoa.hawaii.edu/scalar2/the-souls-of-black-folk/index).  Instead of saying "Contents" I want it to say "herein is written" as in the original TOC.  I tried this javascript addition on the styling page with no luck:
[code]
but was unable to get the ID into the html that

[2018-02-18 02:58] craigdietrich commented on #85
You'd need to place inside a load event.  But also, Scalar has its own load event since there's some DOM manipulation that occurs even after the page load event.

$(document).ready(function() {
  $('body').on('pageLoadComplete', function() {
    $('herein').html('Herein is Written');
  });
});

Note that you can get to the page's title (the H1 page title) like this:

$(document).ready(function() {

[2018-02-18 22:06] rcrath commented on #85
Hi Craig, Thanks for responding.  I am new to APIs and js but trying to learn, so thanks for your patience.  I pasted the first snippet into the style/js field, but I can't figure out how to get the path h1 tag to render with the `id="herein"` element in the HTML, so it does not rewrite.  This is probably basic, but I was not able to find how to do this in the api reference.

[2018-02-19 08:47] TayiSaiKishore commented on #84
Is there any framework diagram or workflow available ?
how can we integrate scalar application with our active directory ?

Please help.

[2018-02-19 23:36] craigdietrich commented on #84
We (the scalar team) don't have any experience integrating Active Directory, and I don't know of anyone else that has (at least that we've heard of).

Of course, if you come up with something let us know and run a pull request!

[2018-02-19 23:37] craigdietrich commented on #84
Scalar's underlying framework is CodeIgniter 2.x, so any core hookups would be documented there: https://codeigniter.com/userguide2/

[2018-02-19 23:48] craigdietrich commented on #85
There are only two &lt;h1&gt; tags on the page you reference:
1) The title of the page ("The Souls of Black Folk")
2) The header of the path contents ("Contents")

Also, you're trying to reference a tag with id="herein" while there isn't any tag with that ID in the page.  Is the idea to add that ID to one of the two &lt;h1&gt; tags above in order to be able to style it with CSS?  If so, this will

[2018-02-20 03:12] rcrath commented on #85
Yes, that and the first snippet together did the job.  Thank you @craigdietrich .

[2018-02-20 03:12] #85 closed

[2018-03-16 03:31] JoelleByars opened #86 "Unexpected Behavior of Map Widget"
Expected Behavior:
Map widget was expected to be in the righthand margin.
Inline map widget expected aligned with text wrap.

Observed Behavior:
Map widget did not appear in the right-hand margin, appeared inside margin and altered text formatting.
Inline map widget appeared inline but altered text formatting.

Please cc @rcrath

[2018-03-16 17:35] craigdietrich commented on #86
Could you post a screengrab?

[2018-03-16 17:36] #84 closed

[2018-03-17 20:45] rcrath commented on #86
here is the (hand adjusted) html:
[code]
for this:
![screenshot from 2018-03-17 10-43-11](https://user-images.githubusercontent.com/944636/37559810-481a308e-29d0-11e8-80d5-a0b05b425de8.png)

[2018-03-17 20:53] rcrath commented on #86
Inline is looking correct today:
![screenshot from 2018-03-17 10-47-10](https://user-images.githubusercontent.com/944636/37559831-cb5ff1cc-29d0-11e8-9348-a0a9e3da7eeb.png)
![screenshot from 2018-03-17 10-47-56](https://user-images.githubusercontent.com/944636/37559833-cef2f49c-29d0-11e8-9dd0-b2ba8e075239.png)

... and the linked widget appears to be fine today.  Maybe we just had something weird i

[2018-03-17 21:05] rcrath commented on #86
Today it is working fine on another computer.  Maybe we needed to clear browser cache or something. Thanks for the magic fix!

inline:
![screenshot from 2018-03-17 10-50-35](https://user-images.githubusercontent.com/944636/37559949-195c2b14-29d3-11e8-9845-b7d478a0b6f6.png)
![screenshot from 2018-03-17 10-51-37](https://user-images.githubusercontent.com/944636/37559950-1c9655ca-29d3-11e8-9933-f3693

[2018-03-17 21:06] rcrath commented on #86
I do have a question about map zoom, but I'll make a separate issue.

[2018-03-17 21:26] rcrath opened #87 "map widget default zoom setting"
Hi, I am wondering if it is possible to set the default zoom level on the map widget.  google maps api says this is [possible](https://developers.google.com/maps/documentation/static-maps/intro#Zoomlevels). they do it via the hre thus:
[code]
and there is an [add "&z=nn" to the end of the url](https://gis.stackexchange.com/questions/70809/how-to-change-default-zoom-in-the-google-embedded-map) wher

[2018-03-17 22:10] craigdietrich commented on #86
From the looks of the text you might have gobbledegook resulting from copy-pasting from something like MS-Word... this would result in problems with the page rendering correctly.

I’d suggest looking at the page content in “Source” view... if this is indeed the case you’ll want to re-cut-and-late into the Source view, or, use the “page from word” button in the WYSIWYG editor.

[2018-03-20 02:42] rcrath commented on #86
Ok. It was from word. @JoelleByars this is a good reason to use the paste from word function. Ok to close as it works no.

[2018-03-20 22:44] damg70 opened #88 "Defiant behavior in Scalar 2's "pageLoadComplete" event"
We (david goldberg and @rcrath) are trying to apply styles to the ordered list within the div "#mainMenuInside" in the upper left navigation menu.

In particular we are trying to remove the numbering of the ordered list ([https://github.com/digiah/sobf/issues/25](https://github.com/digiah/sobf/issues/25)) and have tried using the standard CSS: **list-style-type: none** in the "global" CSS settings

[2018-03-23 18:25] eloyer commented on #88
Yes, as you discovered, the numbering in the menu isn't accomplished through typical means. This style should take care of it:

`.navbar li.mainMenu>.mainMenuDropdown>#mainMenuInside>li>ol>li>a:first-child:before { content: none; }`

Let us know if that doesn't work!

[2018-03-26 11:10] mogoh commented on #83
As our project now will be english-only, this issue can be closed.

[2018-04-01 07:08] rcrath commented on #88
@eloyer thanks, it worked like a charm.  plz close!

[2018-04-02 02:16] #88 closed

[2018-04-05 20:24] craigdietrich commented on #83
Just to follow up with your question: our language file kept in that folder is very neglected.  The long term strategy for internationalizing the system texts would first include getting all of the system texts into the english file, then duplicating that into various languages.

[2018-04-05 20:24] #83 closed

[2018-04-05 20:25] craigdietrich commented on #87
Yep, it can be set with the Google Maps API, but we don't expose this as a setting in Scalar.  Seems like we should for sure!  I'll talk to our internal team.

[2018-04-25 13:27] mogoh opened #89 "Title in Navbar gets not displayed on Chromium/Ubuntu"
![bildschirmfoto von 2018-04-25 15-21-53](https://user-images.githubusercontent.com/580975/39248497-89e04bb2-489c-11e8-98a2-f8bc2c0a16d3.png)

I can only reproduce this bug on Chromium and Ubuntu. It is very strange.

This is the HTML Element:

    <span class="navbar-text navbar-left pull-left title_wrapper hidden-xs withTooltip overflowCalculated" id="desktopTitleWrapper" style="max-width: 896px

[2018-04-25 15:56] plusperturbatio commented on #89
Howdy! I may have isolated the issue (it's one I've been tackling on and off for a while) - do you happen to have a Scalar install of your own? If so, if you could try replacing the scalarheader.jquery.js file located in \system\application\views\melons\cantaloupe\js with the attached zipped file:
[scalarheader.zip](https://github.com/anvc/scalar/files/1947822/scalarheader.zip)

Otherwise, I just

[2018-04-25 17:00] mogoh commented on #89
No, sorry. :(

Great, thank you! :)

[2018-04-25 19:08] craigdietrich commented on #81
Hi!

Not sure what you mean exactly?

[2018-04-25 19:09] #76 closed

[2018-06-22 06:06] michaelizer opened #90 "Logo proposal"
Greetings,

I'm a graphic designer and I would be more than happy to contribute to your project by creating a logo for it. It's completely free and both of us will beneficiate from it (I will expand my portfolio) let me know if you are interested.

Best regards.

[2018-07-04 00:26] ccc2lu opened #91 "PHP 7 Compatibility"
I want to upgrade the server where I run Scalar to Debian Linux "Stretch".  I tried installing Scalar on a test server running Stretch and found some issues with PHP 7, which is the version of PHP that comes with Stretch.

Here's what I've found so far:

In system/application/views/modules/dashboard/book_style.php, I had to remove a "continue;" on line 320 because that's no longer valid in PHP 7.

[2018-07-09 17:50] ccc2lu commented on #91
The other warning messages I see in the browser are related to only passing variables by reference:
system/database/DB.php line 133
system/codeigniter/Common.php line 149

And about subclass method declarations not matching the parent class's method declaration:
In system/application/models/user_model.php's get_all method
In system/application/models/book_model.php's get_all method
In system/appli

[2018-07-12 02:45] pguerr061703 opened #92 "No https and scalar site looks bad"
I installed Scalar on my virtual Ubuntu 16.04 host. I do not have https enabled on my Scalar site. The site looks very weird. All columns are out of place. I looked at the scalar logs. Only thing of concern is mcrypt is deprecated. Would mcrpyt cause the page to render like this? I am running php7.2 but I believe it has something to do with https ( I don't have  a self-signed certificate at the mo

[2018-07-12 02:56] #81 closed

[2018-07-12 15:13] pguerr061703 opened #93 "Migrate books and data from Scalar to new Scalar host"
Hello, I recently created a new Scalar host with latest version 2.1.10 on a virtual Ubuntu 16.04 host.  I want to copy all the users and associated books from my old scalar host (Redhat 6 , Scalar version 2.1.2 (i think))..

Is there a migration tool to copy the users  and books over   to  my new Ubuntu host?
Should I consider doing a mysqldump (export) and import ?  folders to copy on server?

Wh

[2018-07-12 16:42] #92 closed

[2018-07-12 16:43] craigdietrich commented on #90
Thanks for reaching out.  Though we're all set on the logo front: https://scalar.me/anvc/scalar/

[2018-07-12 16:43] #90 closed

[2018-07-12 16:46] craigdietrich commented on #93
You can set a book to 'Duplicatable' in the Dashboard's Sharing tab, then duplicate it over in the My Account tab.  This will cover _most_ things about a book.

That said I'd just copy the database... I don't think anything has changed on the database front for a long time (see https://github.com/anvc/scalar/wiki/Changes-to-config-files-over-time).  Just make sure the "shasalt" key in local_settin

[2018-07-12 16:46] #93 closed

[2018-07-14 10:28] jgmac1106 opened #94 "use <p> tag and not <br> on return"
When typing in the tinyMCE rich text editor I find the return carriage translates into a line break rather than opening and closing a new paragraph.

Just doesn't sit well with me semantically. Is there any place I can change?

[2018-07-14 17:21] craigdietrich commented on #94
Scalar adds <p> tags around each paragraph, anyways, in the front-end.  This is so we can position any embedded media alongside the paragraphs in the text.

[2018-07-14 17:21] #94 closed

[2018-08-07 01:47] akprtll commented on #49
I'm experiencing the same problem with recurring redirecting-- from .../scalar/system/login?redirect_url=%2Fscalar%2F to (when I click "Sign in")  .../scalar/system/login?redirect_url=%2Fscalar%2Fsystem%2Flogin%3Fredirect_url%3D%252Fscalar%252F, etc. The site was working great just a few days ago and I hadn't changed anything in the intervening days. I created a phpinfo file and Session Support is

[2018-08-08 15:54] mogoh commented on #89
@craigdietrich Yes, thanks. :)

Sorry, for answering late. :/

[2018-08-08 15:54] #89 closed

[2018-08-08 17:32] craigdietrich commented on #49
What hosting are you using?

[2018-08-08 19:51] akprtll commented on #49
My site is on Reclaim Hosting.

[2018-08-13 23:26] craigdietrich commented on #49
Ah, yep, that's the fix!   This would be the same fix if you had contacted Reclaim support directly, @akprtll

[2018-08-14 16:21] pguerr061703 opened #96 "Scalar - soundclound"
I've been testing Scalar on a RedHat virtual server and found the following issues:
When trying to search SoundCloud, I get a message,

From: <my sitename.domainname>
Missing API key for this archive. Please contact an administrator to add a key to the local settings.

Any idea how to fix this? Not sure what API key is being referred or how to add it.
Thank you

[2018-08-14 16:24] pguerr061703 opened #97 "Scalar - search results do not show any results"
When I use Scalar to search for youtube videos,  (in this example I searched for 'man', you fail to get any results.) . See attached pic.  Is there something wrong with the search mechanism?

Thank you.

![screen shot 2018-08-14 at 11 42 20 am 1](https://user-images.githubusercontent.com/12171475/44104385-bad01de8-9fbc-11e8-95e5-a81238ac23ff.jpg)

[2018-08-14 16:27] akprtll commented on #49
Thanks so much @sfrielick! That fix worked perfectly. I was able to install a new copy of Scalar on my Reclaim Hosting site so I hadn't been sure if it was an issue at the hosting level or the program level.

[2018-08-14 17:11] craigdietrich commented on #96
All API keys are kept in local_settings.php:

http://scalar.usc.edu/works/guide2/local-settings

[2018-08-14 17:11] #96 closed

[2018-08-14 17:13] craigdietrich commented on #97
All API keys are kept in local_settings.php:  http://scalar.usc.edu/works/guide2/local-settings

However, if you're using an older version of Scalar there won't be a YouTube API key ... that is a more recent addition after Google changed the requirements.  While updating Scalar make sure to take a look at: https://github.com/anvc/scalar/wiki/Changes-to-config-files-over-time , you'll see the YouTu

[2018-08-14 17:13] #97 closed

[2018-08-14 18:04] pguerr061703 opened #98 "Upgrade Scalar to latest version to support Youtube API keys"
Hello, I'm running Scalar (older 2016) version on a RedHat server. I need to upgrade to latest version of Scalar.  What to backup? How to perform this upgrade (steps that I need and files that I need to preserve) to achieve this? Keep in mind, I have almost 130 users with books on here that I need to retain. Any help would be greatly appreciated.

Also, how do I create an API key for YouTube, to e

[2018-09-24 19:51] crism opened #99 "Incorporate CKEditor accessibility improvements"
There is [a modified version of CKEditor](https://github.com/a11yfirst/distribution) available, designed for accessibility best-practices. It should be a drop-in substitute for the version currently distributed with Scalar.

[2018-10-05 18:54] crism commented on #99
@plusperturbatio, can you help me understand what you did to upgrade CKEditor from 4.4.7 to 4.7.0? If we can bring it up to 4.10.0, we should be able to cut over horizontally to the a11yfirst modifications, but I’m having trouble understanding the local customizations.

[2018-10-07 14:44] plusperturbatio commented on #99
Basically, I went through and updated each plug-in we were using and
updated them where it didn't break the editor (some plugins like codemirror
seemed to be a little problematic...) And then I updated to the newest Dev
(this is important, since ckeditor ships with a minified version of its
codebase, which makes modifications super difficult.) I then went through
the files one by one to see if we

[2018-10-11 18:19] crism commented on #99
Thanks, @plusperturbatio. I will try to see if I can isolate the a11yfirst changes; it may be possible to backport those to 4.7.0.

[2018-10-11 18:34] crism opened #100 "In-context external link doesn’t work behind a proxy"
When a link leaves a Scalar book, and isn’t marked for a new context, Javascript intercepts it and constructs a link to the `external` handler. That handler [does some security checking](https://github.com/anvc/scalar/blob/master/system/application/controllers/book.php#L401), including that the `prev` parameter matches the Scalar server:
[code]
However, if the Scalar server is running behind a pro

[2018-10-11 18:37] craigdietrich commented on #100
Yep!  The external page while well intention raises a number of problems.

There's two quick fixes in local_settings.php, the second field below may or may not be in yours depending on how old your Scalar install is, but you can just add it:

[code]

Hopefully helpful!

[2018-10-11 19:49] crism commented on #100
Thanks, @craigdietrich! The config fix works very nicely; I had overlooked that setting.

I should also add that it doesn’t work in mixed HTTP/HTTPS cases—_e.g._, the Scalar book is HTTPS but the external link is HTTP. Many browsers will block that kind of mixed content.

Seems like this is worth looking into still, but a lot less urgent for us. Thanks again.

[2018-10-21 16:23] petersmahon opened #101 "'Invalid user ID or password' error on new server install"
Hello,
I'm getting an 'Invalid user ID or password' error on a brand new server install of Scalar when trying to register a new account, so I'm unable to get superuser privileges. I'm not using recaptcha keys because I'm only in the testing phase and it's just me using it.

The only other issue I had with the install was having to use the deprecated mcrypt package, so I'm also wondering if the iss

[2018-10-22 22:08] craigdietrich commented on #101
Actually, I think that's the problem.  There's no workaround for the mcrypt deprecation (which I think started in 7.2) right now.  :(

[2018-11-10 08:00] rcrath opened #102 "lost access to scalar 2 install"
Hi,

I have lost access to my scalar login and all pages are giving 404 errors.  I am not sure, but I think a former employee tried to do something via msysql directly as there are backups of the database (see image).

THe only pages I can get are 404, login, create new account (which does not work because of outdated recaptcha at the moment, and the landing page, which has no public info on it an

[2018-11-10 10:10] rcrath commented on #102
fixed the recaptcha (update to 2), but registering a new user fails with "Invalid user ID or password"

[2018-11-10 17:29] craigdietrich commented on #102
Eep!

Seems to me that the tables in the database have been emptied, ie, there’s nothing in the scalar_db_books or scalar_db_users tables, etc. This would explain the 404s and the lost logins. Can you check?

Hopefully one of those other, copied databases have all the data in them, you could swap it in.

[2018-11-10 17:30] craigdietrich commented on #102
You might also want to check system/application/config/database.php to confirm what actual database Scalar is pointing to.

[2018-11-11 18:42] petersmahon commented on #101
Hi Craig,
Thanks for the reply. Sorry for the delay in getting back to you.
Sorry if these are silly questions: does that mean the individual installs of Scalar running on machines using PHP 7.2 won't work going forward? Are plans to update it? How does this situation affect projects that live on the main Scalar servers?
Best,
Peter

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐

[2018-11-11 19:44] craigdietrich commented on #101
Right, correct, I don't think Scalar can run on 7.2 because the mcrypt library is included into CodeIgniter at a very deep level.  CI sets up a session cookie even when not logged in.

The main Scalar server (scalar.usc.edu) should be a-okay, I don't know of any plans to update to 7.2 right now.

@plusperturbatio Any plans to correct the mcrypt problem?

[2018-11-11 21:56] petersmahon commented on #101
Hi Craig,
Thanks for the info. I'll have to look at Manifold as a replacement to Scalar, as there doesn't seem to be a fix. Pity.
Best,
Peter

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Sunday, November 11, 2018 11:44 AM, Craig Dietrich <notifications@github.com> wrote:

[2018-11-15 02:37] rcrath commented on #102
OK, thanks Craig.  The pointer in database.php was incorrect.  something weird happened.  Something got renamed, either the database or the pointer in database.php.  I have the only account with access to the server as a linux user and access is through ssh, with no access for root.  and I'm pretty sure I did not do it.  I have not been able to find anything in the logs as far as suspicious ssh lo

[2018-11-15 02:37] #102 closed

[2018-11-26 13:21] burki commented on #101
If you are on Ubuntu and have root access, you can install mcrypt for PHP 7.2 through pecl as follows:

    sudo apt-get -y install gcc make autoconf libc-dev pkg-config
    sudo apt-get -y install php7.2-dev
    sudo apt-get -y install libmcrypt-dev

    sudo pecl install mcrypt-1.0.1

You should add "extension=mcrypt.so" to php.ini

[2019-01-15 18:51] tinuola opened #103 "Broken Register/Learn More link"
Would like to get more info about how to create a Scalar project, but the link to Register / Learn More at http://scalar.usc.edu/scalar/ is broken.

[2019-01-15 19:39] craigdietrich commented on #103
?

[2019-01-15 19:43] craigdietrich commented on #103
Hi,

Not sure where you uncovered that URL?  Scalar's informational website is here:
[https://scalar.me](https://scalar.me)

... and the Guide here:
[http://scalar.usc.edu/works/guide2](http://scalar.usc.edu/works/guide2)

[2019-01-16 21:07] tinuola commented on #103
@craigdietrich The URL is listed in README.md.

[2019-01-28 16:49] burki commented on #101
I also managed to use phpseclib with https://github.com/phpseclib/mcrypt_compat on PHP 7.2 on windows (where I don't have access to the mcrypt-dll).

The only difficulty is the class autoloader as long as scalar doesn't support libs installed through composer.

My solution was to add the following check for missing 'mcrypt_encrypt' the top system/libraries/Encrypt.php:

    // PHP >= 7.2 lacks mcr

[2019-02-13 16:52] mskrc opened #104 "Changing a Scalar page URL to "search" affects edit view"
It seems like changing a page's URL path to "search" doesn't allow you to get to the edit screen of that page. Instead it displays unstyled content of the page without any WYSIWYG or other features of the edit screen.

Is the "search" sub-path already designated for something else? I can't find any errors logged when going to https://[scalar project url]/search.edit.

[2019-03-13 18:56] wpalahnuk opened #106 "<img> element is missing src attribute"
https://github.com/anvc/scalar/blob/01cd2ab61b2b1fcc11967993e503e87dea50bfa5/system/application/views/melons/cantaloupe/js/scalarpage.jquery.js#L1153

<img> gets generated, but is missing the src attribute, so it is only displaying the <img>'s title

[2019-03-15 01:46] craigdietrich commented on #106
Working on this now!

[2019-05-15 15:04] ColeDCrawford opened #108 "IIIF Integration"
IIIF seems like a natural technology to integrate with Scalar - it's predicated on reusing content, supports annotations, etc. Has anyone explored this? It would be great to be able to import manifests; mapping content might look something like this:
- Canvases -> Scalar Media files (images)
- IIIF Annotations -> Scalar Annotations
- Sequence -> Scalar Path (restricted to only image media)
- Colle

[2019-05-20 13:59] brimwats opened #109 "How to add a new ontology?"
Hello!

Craig pointed me in this direction!

I'm doing some experimentation with semantic linked data vocabularies and online publishing platforms. I was wondering how I might go about using Homosaurus.org in Scalar? Omeka S had an easy way to add new vocabularies and ontologies, but I don't see that in scalar. I have my own scalar instance spun up on my website.

Thank you!
Brian

[2019-05-21 23:12] craigdietrich commented on #109
Hi!

It turns out it's pretty easy!  There are two steps, both described at the top of this file which is also the file you'll need to edit: https://github.com/anvc/scalar/blob/master/system/application/config/rdf.php

You'll need to first define the _prefix_ to _uri_ link in the **$config['namespaces']** array, e.g.,

`'brimwats'   =>  'http://example.com/brimwats/'`

Them, add the fields of the

[2019-05-23 09:27] brimwats commented on #109
It works very well, thank you!

[2019-05-23 09:27] #109 closed

[2019-05-30 19:33] jhempy opened #110 "ERROR 1067 (42000) at line 73: Invalid default value for 'datetime'"
I receive this error when trying to import the scalar_store.sql file:

"ERROR 1067 (42000) at line 73: Invalid default value for 'datetime'"

Line 73 creates the scalar_db_rel_replied table:

"CREATE TABLE IF NOT EXISTS `scalar_db_rel_replied` (
  `parent_version_id` int(10) unsigned NOT NULL DEFAULT '0',
  `child_version_id` int(10) unsigned NOT NULL DEFAULT '0',
  `paragraph_num` int(5) unsigned

[2019-06-12 16:35] jskirby3 opened #112 "Add the whole squad"
I'm in a multimedia digital processing course at DHSI at UVic and the whole class wants to try Scalar and get accounts to work with Scalar this afternoon (we're in Pacific Daylight Time). Sorry this is so last minute would it be possible for the whole squad to get accounts.

[2019-06-12 17:44] eloyer commented on #112
@jskirby3 Can you drop me a line at http://erikloyer.com/index.php/contact/?

[2019-06-12 17:54] eloyer commented on #112
@jskirby3 If you can DM us on Twitter @anvcscalar with your email we can take it from there.

[2019-06-12 17:58] jskirby3 commented on #112
You don't allow people to DM you on Twitter that you aren't following? I don't use Twitter so I tried to get my classmate to do it, I sent another email through the site you sent.

[2019-06-12 17:59] jskirby3 commented on #112
My email is jskirby@iastate.edu

[2019-06-17 23:43] eloyer commented on #108
Thanks for reaching out! We looked at IIIF a while back, but an integration seems more doable now. Importing manifests is an interesting idea; I think there’d be some questions about round-tripping that would need to be answered (what are user expectations if they edit the content after it’s been imported?), but I could see starting with integrating Mirador as a viewer for manifests.

Scalar’s med

[2019-06-18 00:09] #86 closed

[2019-06-18 00:10] #103 closed

[2019-06-18 00:11] #112 closed

[2019-06-21 18:26] burki opened #113 "Handling database errors upon update/insert"
When entering a media or page title that exceeds the length defined for scalar_db_versionstitle (currently varchar(255)), an unhandled exception is triggered in https://github.com/anvc/scalar/blob/master/system/application/models/version_model.php#L452

    if (empty($version_id)) throw new Exception('Could not resolve version ID before saving to the semantic store.');

Therefore, /api/update will

[2019-06-21 20:32] burki commented on #113
Following up on this, wrapping the  database-calls in https://github.com/anvc/scalar/blob/a5875a3edeaa974f0e162e3dc0a2fc05d783bec3/system/application/controllers/api.php#L205 into a try / catch along the lines of

		try {
			$this->pages->save($save_content);

			//save the version
			$save_version = $this->_array_remap_version($this->data['content_id']);
			$this->data['version_id'] = $this->vers

[2019-07-03 13:40] jadestorm opened #115 "Autoload error under PHP 7.2"
Hi folk!  Recently we upgraded the bulk of our web servers from PHP 5.6 to PHP 7.2.  I accidentally upgraded the server that was running Scalar before getting a chance to test it and found that it would not run under PHP 7.2.

Now--- there is a semi similar issue discussed here: https://github.com/anvc/scalar/issues/77
However I do not believe it is the same thing.  We actually do install mcrypt.

[2019-07-03 15:48] burki commented on #115
I have no problem running master branch of Scalar on PHP 7.2 if I use one of the mcrypt workarounds described in https://github.com/anvc/scalar/issues/101 (either manually install the mcrypt module through pecl or by using https://github.com/phpseclib/mcrypt_compat).

The deprecation message you mention should be fixed by https://github.com/anvc/scalar/commit/1c2187df483d59e8d8627f311c5dbae8fac373

[2019-07-03 16:09] jadestorm commented on #115
Interesting, what version of php 7.2?

On Wed, Jul 3, 2019, 11:48 AM burki <notifications@github.com> wrote:

[2019-07-03 16:14] craigdietrich commented on #115
@jadestorm Hi!

I'm pretty sure that @arthurian fixed the autoload deprecation issues in a recent pull request that we merged,

https://github.com/anvc/scalar/commit/5d81c0d74c9778328c61dc69fbd0d8064513fe51#diff-d1efac74368d2446e66826b453dbbb8eR381

It's not in a Release yet, but you could try updating your install from master (should be safe to do right now), and see if that fixes the warnings?

[2019-07-03 16:20] burki commented on #115
@jadestorm I'm using both PHP 7.2.14 and 7.2.16

[2019-07-03 17:27] jadestorm commented on #115
@burki Hrm we had 7.2.20 which I highly doubt is different enough from what you were running.  Might set this up on a different server to try some things out.  =)

@craigdietrich We did actually test that already -- under what we call scalardev.  (it's always running master)  However I don't know that we had logging turned on when we tested it so -- I'll check that.

Let me poke around and get bac

[2019-07-03 20:03] jadestorm commented on #115
Ok it's probably going to be next week before I get to dive into this more.  Bear with me, I'll be back in touch.  =)  Thanks!

[2019-07-03 20:08] jadestorm commented on #115
Well, amusingly I immediately had a moment to test it after I commented.  It does appear that current master actually works, where version 2.5.4 does not appear to.  As such, I think we can chalk this up to "what @craigdietrich pointed out appears to fix it".  =)  Thanks all!  We'll decide if we want to hold back at PHP 7.1 until next release, or update to at a minimum that commit.  Gonna go ahead

[2019-07-03 20:08] #115 closed

[2019-07-31 18:07] craigdietrich commented on #101
Hiya, @burki -- the time has come for me to finally make this official!

Is it okay for me to implement your work here (properly cited)?  Or, would you be willing to run a pull request?

I think my only question is whether phpseclib is universal, or windows-only?  If the latter, I suppose we'd need to load in that full polyfill class on github and let it do the work?

Thanks!!

[2019-07-31 18:20] burki commented on #101
@craigdietrich phpseclib is universal. The windows-reference is only because i was able to build mcrypt through PECL on Linux and therefore didn't need it there. I'll prepare a pull-request for you.

[2019-07-31 18:47] craigdietrich commented on #101
@burki you rock!

I'll do some local testing then roll this in.

Reclaim Hosting is going to love this!

[2019-07-31 19:26] burki commented on #101
@craigdietrich just let me know if you find any issues (I didn't test it out yet on Linux) and I'll investigate

[2019-08-15 19:37] alexmerrill opened #120 "mediaobjectview not set when any value is in dcterms:accessrights but not culturally sensitives"
A little while ago we noticed some of our images being served up from our contentdm IIIF API weren't appearing as expected.  After a little investigation @steve-taylor-wsu noticed that the mediaobjectview wasn't getting set for items that had any value in dcterms:accessRights.  I locally reverted the change made in [jquery.mediaelement.js](https://github.com/anvc/scalar/blob/master/system/applicat

[2019-08-16 19:16] craigdietrich commented on #120
I need to defer to @eloyer on this.

Though, @alexmerrill, if you have any working solutions for figuring out CONTENTdm's URL structure for getting to images AND all of their other media types, omg, this would be so helpful!

[2019-08-16 21:03] eloyer commented on #120
@alexmerrill Thanks for calling this out—should be fixed now.

[2019-08-16 21:03] #120 closed

[2019-08-16 21:06] eloyer commented on #120
@alexmerrill Look for the fix to go live within the next week or so.

[2019-09-23 20:16] loleary-uic commented on #110
I am getting the same error using php 5.4 and mysql 5.7

[2019-09-23 20:49] craigdietrich commented on #110
Hi @loleary-uic

Yeah, it seems "0000-00-00 00:00:00" is no longer a valid default value, or at least, for some versions or setups of MySQL it isn't.

Has the SET sql_mode = 'STRICT_TRANS_TABLES'; workaround, mentioned above, worked for you?

I haven't had a chance to look at this ticket any further. There's probably a simple solution (changing the default value to NULL, for example),

[2019-09-23 21:00] loleary-uic commented on #110
What is the highest version of mysql that is supported by the latest release?  What are you testing it on?

Thank you, Lisa

From: Craig Dietrich [mailto:notifications@github.com]
Sent: Monday, September 23, 2019 3:49 PM
To: anvc/scalar <scalar@noreply.github.com>
Cc: Elliott Blake, Lisa Marie <loleary@uic.edu>; Mention <mention@noreply.github.com>
Subject: Re: [anvc/scalar] ERROR 1067 (42000) at

[2019-09-23 21:08] craigdietrich commented on #110
@loleary-uic Other than this (what I consider to be minor) issue, we haven't had any reports of any problems with old or new versions of MySQL / MariaDB.  Meaning, I think it's fine up to and including the most recent versions of MySQL / MariaDB.

I'm running MariaDB 10.4.6 on my test environment.

[2019-09-24 16:22] loleary-uic commented on #110
What about php?
________________________________
From: Craig Dietrich <notifications@github.com>
Sent: Monday, September 23, 2019 4:08 PM
To: anvc/scalar <scalar@noreply.github.com>
Cc: Elliott Blake, Lisa Marie <loleary@uic.edu>; Mention <mention@noreply.github.com>
Subject: Re: [anvc/scalar] ERROR 1067 (42000) at line 73: Invalid default value for 'datetime' (#110)

@loleary-uic<https://github.c

[2019-09-26 07:56] sodonewith commented on #110
same problem - total nightmare
I'm just running a small comment section, works with timestamp but I don't really wanna know the exact second of a post, day would do. There are stones worth stumbling over but not this one. That it should be a problem to get you the date without hours, minutes, seconds. Stupid. Unbelievable. I googled this and the anwers are even worse. Thinking about switching to a

[2019-09-26 20:37] craigdietrich commented on #110
@loleary-uic No PHP restrictions as of Scalar v2.5.5

[2019-10-22 21:06] ColeDCrawford opened #122 "Unpublished / nonexistant page behavior"
When an unauthenticated user tries to access an unpublished page, they are kicked back to the base domain (eg http://scalar.usc.edu/works/) rather than the book index (http://scalar.usc.edu/works/book-name/index). The latter seems to be the preferred behavior.

When an unauthenticated user tries to access a nonexistent page (eg http://scalar.usc.edu/works/book-name/foobar), the user sees a screen

[2019-10-22 21:14] craigdietrich commented on #122
Hi @ColeDCrawford, are these scenarios with the Editorial Workflow on?

[2019-10-28 17:03] ColeDCrawford commented on #122
@craigdietrich - no, we're not using the Editorial Workflow or the new dashboard yet.

[2019-11-13 20:15] alexdryden opened #124 "Moving GIF Accessibility Issue"
We currently restrict authors from using moving GIFs in  Scalar because they can't be implemented in a way that meets accessibility standards. In order to conform to the guidelines in WCAG 2.0, there would need to be a pause/stop function on moving GIFs (https://www.w3.org/TR/UNDERSTANDING-WCAG20/time-limits-pause.html), and the default behavior on content pages would have to load the GIF in a pau

[2019-11-22 13:48] dmer commented on #91
Hello,
I'm planning a local install of Scalar and was also hoping to be able to make use of PHP 7 - I saw this tweet from reclaimhosting about a patched version, but I'm not sure where I can find that in this repo? https://twitter.com/ReclaimHosting/status/1157066217905172493
Thanks!
Derek

[2019-11-22 17:01] craigdietrich commented on #91
@dmer Scalar is up to speed with PHP 7.2 as of Release v2.5.5.  If you go to the Releases section you'll see that we're up to 2.5.7 so you'll be all set!

[2019-11-22 17:25] dmer commented on #91
Great! Thanks @craigdietrich

[2019-11-22 17:33] dmer commented on #91
Sorry I just realized I have one other related question, can you point me to where the required/supported versions for things like PHP and MySQL etc. are listed? Thanks!

[2019-11-22 18:50] craigdietrich commented on #91
@dmer That documentation doesn't exist :)

Really, you should be fine.  Scalar doesn't really have any dependancies and aside from the PHP 7.2 thing, doesn't really get impacted by versions.

Take a look at the top of INSTALL.txt, though, it lists a few considerations.

[2019-11-26 17:46] eloyer commented on #124
As far as we know, there isn't a programmatic way to control the playback of moving GIFs. There is apparently a [JavaScript approach](https://www.npmjs.com/package/animated-gif-detector) out there that could possibly be integrated into Scalar's file uploader, possibly connected to a per-install enable/disable setting. If you or others are interested in pursuing this, we'd be amenable to a pull req

[2019-12-13 21:04] g7morris opened #125 "ERROR 1061 (42000) at line 26: Duplicate key name 'book_id'"
Currently attempting to install Scalar per the instructions in the [INSTALL.txt](https://github.com/anvc/scalar/blob/master/INSTALL.txt) file.

* Using PHP 7.2 & MySQL 5.7
* Using the `system/application/config/scalar_store.sql` file as directed.
* Using latest release of Scalar

[code]
This only creates one table called `scalar_db_books` and the remaining tables within the sql file are not create

[2019-12-14 17:51] g7morris commented on #125
I've also been able to replicate this issue using PHP 7.2 & MySQL 5.5.6.

[2019-12-14 18:23] craigdietrich commented on #125
Hi @g7morris

Sorry you're experiencing these errors!

Is there a chance your database is forcing InnoDB (which respects foreign key restrains)?  scalar_store should be using MyISAM (which does).  I've never accounted that kind of error on my end, unfortunately.  Do things behave different if you create the DB via phpMyAdmin as opposed to on the command line?

The last commit to scalar_store.sql w

[2019-12-14 18:47] g7morris commented on #125
Thanks for the reply @craigdietrich and the tip on MyISAM. As an aside, since MySQL version 5.5 release in 2010, InnoDB has been the default engine. I'll test changing the default engine to MyISAM and see what happens. For the future, would it be an idea to document this somewhere (e.g. INSTALL.txt and this repo's README.md) along with general system requirements & dependencies for end-users espec

[2019-12-14 18:53] craigdietrich commented on #125
Actually, as of Scalar v2.5.5, the mcrypt library is no longer needed.  Do we say somewhere that it is?

Well, scalar_store.sql includes ENGINE=MyISAM in each statement, so I've always assumed that does the trick.  Maybe that's changed -- maybe there's some sort of override at the DB level now that takes precedence?

Let us know if any of the above works for you

[2019-12-14 18:59] g7morris commented on #125
If you do and I've clearly missed it then my apologies; I'd love to see that documentation. I've yet to find anywhere what PHP dependencies are actually required. My builds so far have been a cobbled together understanding gleaned from Google, searches of various existing Scalar projects, git repos and Dockerfiles. I can appreciate the focus is on getting the project going and fixing bugs but perh

[2019-12-14 19:07] craigdietrich commented on #125
Sorry, I'm a little confused: all you need to do to install Scalar is download the most current Release:

https://github.com/anvc/scalar/releases

... then put it on a LAMP server.  From there install the DB and add some values to a few config files (described in INSTALL.txt).  There aren't any dependencies,

Now, if you don't have a LAMP server set up or are using an alternative approach, like Do

[2019-12-14 19:26] g7morris commented on #125
I do not disagree that simplicity is what you and your team are aiming for however "LAMP server" in this context and in your argument above is an assumption that isn't explained. The steps that go into setting one up depending on the OS distro can mean many things to different users.

What I meant by dependencies for example would be the choice of PHP modules and libraries one is using to set up s

[2019-12-14 19:41] craigdietrich commented on #125
Sorry to hear our documentation isn't thorough enough for your needs.  We'd be happy to accept a pull request if you sort things out and want to contribute to future users.

Unfortunately, installing PHP, its modules, and debugging MySQL import errors is beyond what are little team can provide.  Maybe someone from outside the Scalar team camp can jump in.

[2019-12-14 19:52] g7morris commented on #125
@craigdietrich No worries. I'd be glad to offer a pull request on that front for your review and for other users once I can get it working ;).

I can fully understand your team's challenges. I appreciate anyone looking into the issue when / if they can.

[2019-12-14 22:36] g7morris commented on #125
@craigdietrich I think I might have gotten it sorted after all and I'm just leaving this here for any further feedback if warranted or any others having challenges.

Per your good suggestion above, I started using a MySQL GUI instead of the command line. I pulled apart the script and ran the CREATE TABLES commands one by one, noting errors and the like.

Most ran but only two were hold outs and po

[2019-12-17 03:39] craigdietrich commented on #125
Hey thanks @g7morris for sticking with this!

Re the first problem (datetime), I went ahead and updated SQL files to use CURRENT_TIMESTAMP as the DEFAULT, which I think will correct the problem:

https://github.com/anvc/scalar/commit/9b4e00930e27a53292f11d9dbe62c520c4a8f31f
https://github.com/anvc/scalar/commit/14f635ea20fc2724a33650470219c20e6e1aeea8

Re the second (UNIQUE), I think we should wai

[2019-12-17 17:01] g7morris commented on #125
Thanks @craigdietrich for the fixes, I'll test shortly. I also appreciate you reaching out to @arthurian for any further insight. Thanks in advance @arthurian for any tips, thoughts etc.

[2020-01-07 18:42] dmer opened #126 "Image_Metadata.php causing JS and AJAX errors on file upload"
We were getting errors trying to upload any files using the  "Files and URLs > File Upload" menu.

error msg:
`"There was an error saving the file: SyntaxError: Unexpected token < in JSON at position 0"`

We inserted the following before line 76 which seems to have fixed the issue.
` 		if (!empty($pano_arr)) {`

thanks,
Derek

[2020-01-07 18:48] craigdietrich commented on #126
Hi @dmer Yep, this is a known, very recent bug.  The master fixes it with this commit:

https://github.com/anvc/scalar/commit/c5242c24b8804e485d7bc3bedc3d1682b160edad

Master should be safe to update from right now if needed.  I'll create a Release probably at the end of this week.

Sorry about that!

[2020-01-07 18:53] dmer commented on #126
Thanks @craigdietrich appreciate the quick reply!

[2020-01-07 18:53] #126 closed

[2020-01-08 20:50] dmer opened #127 "clarification on ssl for URL's and plugins"
We have a Scalar site up and running now - mostly working. I have a question about the https configuration.

This site is going to be heavily using archive.org materials in books so I'm keen to get the Internet Archive Importer working.

I keep running into Cross-site content and mixed content errors - it appears that the links to archive.org resources being used internally by Scalar are http even

[2020-01-10 19:13] craigdietrich commented on #126
NB there's a new Release up if ya need it!

[2020-01-10 19:14] craigdietrich commented on #127
Hiya @dmer, can you send me a personal email?  There's a few options in play, one of which is not using our antiquated import system that you're looking and instead using a newer experimental tool called Tensor.

My email address is at the top right here: https://craigdietrich.com/

[2020-02-13 19:42] arthurian commented on #125
@craigdietrich @g7morris My apologies for not responding sooner regarding the second error. That's definitely my fault, as I had introduced that particular UNIQUE constraint in PR #123.

The intent was to add a database-level guarantee that all of the slugs in a book are unique. The more important UNIQUE constraint is the one on `scalar_db_books`, which guarantees the uniqueness of a book slug glo

[2020-02-17 18:25] craigdietrich commented on #125
Hiya @arthurian

This seems fine to me.  That "book_id_slug_uq" is just the identifier for the UNIQUEness, right? It doesn't really show up anywhere?

[2020-02-20 01:22] arthurian commented on #125
@craigdietrich Yeah that’s just the identifier for the unique constraint - it won’t show up anywhere other than when you’re in the database looking at the constraints.

[2020-03-30 21:08] mat-k-witts opened #131 "Hide versions"
With `<span data-hide-versions="true">` in book properties title, expected versions to be hidden but are viewable (if they exist) by appending version number to URL. eg: `example.com/index.2`

[2020-04-07 04:14] rcrath opened #132 "PHP Warning: Item not countable"
Install: Scalar 2.5.11 on reclaim hosting, PHP 7.2

I get the following error in the new scalar dashboard when I enable the editorial workflow.

Everything seems to work and it is just a warning, but I thought you might like to get the report.

[code]

[2020-04-23 09:25] Bicet opened #133 "No input file specified."
I'm try to upgrade scalar, which we plan to use, I don't get why I'm getting "No input file specified." when I try to sign-in, register.
In the home page it works.

https://scalar.gchumanrights.org

I've already tried the suggestion on the closed issues.

[2020-04-23 16:52] craigdietrich commented on #133
Hi,

I was able to register just now on your site (you'll see my account in 'All Users' tab in the Dashboard if you've set yourself up as an admin on the install.  So, I'm not sure where to look for the error?  Maybe it is a cookie problem on your browser that could be fixed by clearing your browser history and cookies.

Nb, make sure to add a registration key, otherwise you'll get spammers regist

[2020-04-23 17:03] Bicet commented on #133
The problem was related to php :)
Thanks a lot for registering and for the tip^_^

[2020-04-23 17:03] #133 closed

[2020-05-07 16:14] bulbil commented on #126
I appear to be experiencing a similar issue to the one described here, though it appears on image upload (as described above) as well as on new content block save. I was unclear whether this was an issue or something to do with my local installation.

After seeing this issue, I thought I'd chime in. I don't believe these are relevant but I'm running PHP 7.0, Ubuntu 16.04, Apache 2.4 -- I also have

[2020-05-07 16:53] craigdietrich commented on #126
Hi @bulbil,

Are you able to get to the PHP error that is being thrown in the ajax response?  Ie, it looks like a PHP error is present in what is supposed to be the JSON return and jQuery.parseJSON therefore can't parse it.

If you're in the console, you can click the 'Network' tab, then re-run the file upload. You'll see the request to the backend show up in the Network list (at the bottom).  Cli

[2020-05-07 20:17] bulbil commented on #126
Thank you @craigdietrich for responding so quickly! This is so helpful to see the PHP error. I realize now my problem is unrelated to this issue and I was able to figure it out.

FWIW I was under the impression I had to specify the port parameter in `database.php` (we use AWS RDS for our databases) but the port wasn't necessary plus it was secretly causing Scalar to bark at me.

Thanks again! Nabi

[2020-05-28 14:29] sharonmleon commented on #62
Just stumbled on this issue, and I'd say that we at [Omeka](http://omeka.org/) are always here to help via the [Forums](https://forum.omeka.org/), which are very responsive.

There is good documentation for the Omeka S API: https://omeka.org/s/docs/developer/api/ The documentation for the Omeka Classic API is less developed: https://omeka.readthedocs.io/en/latest/Reference/api/index.html

The Omek

[2020-06-24 15:59] arthurian commented on #113
I just wanted to bump this issue because we recently experienced this issue as well, although the cause was different.  In our case, a corruption in the `scalar_store_triple` table caused the `/api/update` request to return an invalid response like this:

[code]

The response didn't indicate an error, so as far as the client knew, the update was successful. The client would proceed to call `JSON.p

[2020-07-03 08:54] geoflashed opened #136 "Scalar keeps redirecting back to homepage every time when logging in"
I have experienced the [same problem](https://github.com/anvc/scalar/issues/49) and I can never log in.
My environment is [XAMPP for Windows 7.4.7](https://www.apachefriends.org/zh_tw/download.html).
Is there any fix I could try to make it work.
Thank you.

[2020-11-09 16:37] jakeparis opened #143 "Disabling "Referrals" in LDAP is breaking our Active Directory connection"
In the [LDAP connection code in user_model](https://github.com/anvc/scalar/blob/master/system/application/models/user_model.php#L187), `LDAP_OPT_REFERRALS` are turned off. That prevented us from making successful connection to our Active Directory. When we commented that line out, our connection worked as expected.

I looked through the repo history, but I don't see the reason for disabling referr

[2020-11-11 02:12] craigdietrich commented on #143
Hi @jakeparis!

In local_settings.php, there is a config item for that:

https://github.com/anvc/scalar/blob/master/system/application/config/local_settings.php#L101

Setting it to true means that the LDAP_OPT_REFERRALS field doesn't get set to 0.  Would that do what you're looking for, or does there need to be an explicit call to make LDAP_OPT_REFERALS set to 1?

[2020-11-11 16:02] jakeparis commented on #143
That config item looks like it turns _off_ Referrals whenever Active Directory is _on_. We want to have AD _on_, but we want Referrals _on_ as well. There doesn't seem to be a config solution for this, other than to modify the core code.

[2020-12-18 01:53] rcrath opened #145 "PHP 7.4 incompatible with uploading media"
Receive the following problems with deprecated curly braces in php 7.4 on a system that was running fine on pghp 5.6 previously.  Do I just need to downgrade to 7.2?  Working on reclaim hosting. perhaps related #91
[code]
Will replacing curly braces with something in the s3.php file be a quick fix?

Also do I ne3ed to change both of these?

[code]

[2020-12-18 01:54] rcrath commented on #145
actually, I probably do not have write access to these.

[2020-12-18 02:01] rcrath commented on #145
It seems like anything with curly braces fails.

also, saving from dashboard/sharing fails as follows:
[code]

[2020-12-18 02:23] rcrath commented on #145
downgrading to PHP 7.2 fixes it for now.

[2020-12-18 19:26] rcrath commented on #145
fixed for now by downgrade to 7.2  It is the curly braces and also happens in other contexts, generally file operations like upload and save it seems.

[2020-12-18 21:04] craigdietrich commented on #145
Hi @rcrath

Thanks for finding this!

Curious, are you using AWS?  Odd that that AWS S3 file is being loaded in if you aren't.

[2021-01-14 20:50] mew2232 opened #146 "Upload File for Import Media results in error"
Our Scalar installation recently developed a glitch and no longer will display the form to upload media files. (Forms for other types of media importation (ie. YouTube or Internet URL). We receive the following error message:

A PHP Error was encountered
Severity: 8192
Message:  Array and string offset access syntax with curly braces is deprecated
Filename: amazon-s3-php-class/S3.php
Line Number:

[2021-01-14 23:24] eloyer commented on #146
Appears to be the same as [this issue](https://github.com/anvc/scalar/issues/145).

[2021-01-26 16:13] arthurian commented on #145
@rcrath FYI the S3 error you were encountering should be resolved now that #147 has been merged.

[2021-01-26 16:57] arthurian opened #148 "PHP 7.4 Arc library preg_match issue"
When I attempt to upload media using PHP 7.4, I get the following error message:

[code]

This error does not occur in PHP 7.2, which is what we are currently using.

**Steps to reproduce:**
1. Navigate to the **Upload Media File** page (_Files and Urls_ -> _Upload media files_).
2. Choose a file to upload (in my test, it was a small jpeg image) and click _Upload_.

**Expected behavior:**

I would

[2021-01-26 18:22] craigdietrich commented on #148
Shoot, yeah, this could be a big problem.  The ARC library is really complex, though, the good news is that their community is live and makes updates. But then it will require us to update ARC, which isn't trivial.  I'll write up a report on their Issue tab.

[2021-01-26 18:24] eloyer commented on #145
@rcrath Yes @arthurian is correct, however we recommend waiting to update until we issue an official release (likely within the next week or two) due to other changes we are testing.

[2021-01-26 18:30] craigdietrich commented on #148
Looks like the line in question is removed in the recent version(s) of ARC2, so I think 'simply' updating ARC will work.  Like said, it's not trivial, but I'll add it to my TODO list.

[2021-01-26 18:31] craigdietrich commented on #145
Note that there appears to be another PHP 7.4-related problem:

https://github.com/anvc/scalar/issues/148

[2021-01-26 18:32] craigdietrich commented on #146
Note that there appears to be another PHP 7.4-related problem:

https://github.com/anvc/scalar/issues/148

[2021-01-28 02:11] NumerousHats opened #149 "How do I get paragraphs in the WYSIWYG?"
This is really more of a question rather than an issue.

When creating brand new page content in the WYSIWYG editor, typing seems to create bare text and hitting "enter" produces a `<br>` (which has been noted before in #94, though I can't say I actually understand @craigdietrich's comment there).

If I look at that newly-created text in the front end using "view source", I see it within a `<span

[2021-01-28 13:36] NumerousHats commented on #149
After poking around on some scalar books at other institutions, I see that paragraphs seem to be defined by being enclosed in `<div class="paragraph_wrapper">` elements. So, what do I need to do in the WYSIWYG in order to tell scalar that a section of text needs to be enclosed in a new "paragraph_wrapper"?

[2021-01-28 15:16] NumerousHats commented on #149
Okay. I guess I figured it out. Pressing "Enter" twice miraculously causes a new "paragraph_wrapper" `<div>` to appear, while also leaving behind a stray `<br>` at the end of the preceding `<div>`.

To me, that seems like a truly -- errr -- _interesting_ design decision, but I guess there must have been some good reason for it.  I guess it is what it is...

[2021-01-28 15:16] #149 closed

[2021-02-04 23:44] mmatis opened #150 "Options for Book Export?"
I hate asking this because I understand the whole point behind Scalar's digital-first philosophy and I'm totally on board... Buuuut I have a few old-school professors who want to have their work in Scalar available in an offline/analog form. Other than manually printing every page of a book manually, what options are available for converting the RDF/XML files Scalar exports into something else? Ev

[2021-02-05 20:05] craigdietrich commented on #150
We experimented with an export-to-EPUB a while ago but it didn't lead anywhere, mainly because EPUB doesn't allow for the inclusion of media in a way that represents how it's included in Scalar.

You might just have to buy the professors an iPad :)

[2021-02-05 20:28] eloyer commented on #150
There is an experimental PDF exporter at the end of the API Explorer workflow... it's pretty bare-bones, though (only exports text, doesn't put things in any particular order, etc.). It's in Dashboard > Utilities > API Explorer.

[2021-02-16 21:11] Grantglass opened #151 "Help with configuring on Php 7.4?"
Hello! I am trying to get this working on our university's servers, but I get these weird PHP errors where it prints out the PHP code. Please see this site for more details: http://timeline-225-dept-english.cloudapps.unc.edu

Does anyone have any insights?

[2021-02-16 21:23] craigdietrich commented on #151
Hi,

You need to make sure that short_open_tag=On in php.ini, that will solve the problem.

Nb, Scalar is ready to go for PHP 7.4 but we haven't made a release for it yet, so you might get some PHP errors until you update to the release when it's ready.

[2021-02-16 21:42] craigdietrich commented on #143
Hi @jakeparis,

Are you familiar enough with Scalar's login class to run a pull request?  Or should we look into this on our end?

[2021-02-17 01:18] craigdietrich commented on #148
This should be corrected with our new Release

https://github.com/anvc/scalar/releases/tag/2.5.15

[2021-02-17 01:18] #148 closed

[2021-02-17 01:18] craigdietrich commented on #146
This should be corrected with our new Release

https://github.com/anvc/scalar/releases/tag/2.5.15

[2021-02-17 01:18] #146 closed

[2021-02-17 01:19] craigdietrich commented on #145
PHP 7.4 should be a-okay now with our new Release

https://github.com/anvc/scalar/releases/tag/2.5.15

[2021-02-17 01:19] #145 closed

[2021-02-18 01:15] #108 closed

[2021-02-18 01:15] #91 closed

[2021-02-18 14:16] Grantglass commented on #151
That worked! Sorry, I see that now in the install instructions.

[2021-02-18 14:16] #151 closed

[2021-02-18 15:18] atmcgrath opened #152 "WAVE Accessibiltity issues"
The [WAVE (Web Accessibility Evaluation Tool)](https://wave.webaim.org/) throws up quite a few errors on a basic Scalar site, some of which are the result of application-level issues that cannot be fixed with css. I've developed a few workarounds (see [this checklist](https://github.com/atmcgrath/scalar/blob/master/checklist.md) on my fork) but it would be great if the standard release could addre

[2021-02-18 18:33] #143 closed

[2021-02-19 00:37] eloyer commented on #152
Thanks for this feedback and the checklist @atmcgrath , it's very helpful -- will take a look.

[2021-02-20 04:17] rcrath opened #154 "quoting a fragment of a page"
Hi everyone! THanks as always for scalar!

I am wondering if I can quote a fragment of another very long Scalar page.  The use case is that I have a large page full of testimony that would not be practical to split into hundreds of separate pages.  In the narrative page we are writing about that testimony, I want to quote particular passages on the narrative page, basically excerpting it from the

[2021-02-20 04:59] rcrath opened #155 "internal Anchors being rewritten?"
OK, apropos, #154 it seems there is some kind of url rewrite that strips out the IDs for external links. So my page has a TOC with internal links that works fine if I click within the page, but when I go to the URL as an external link with a fragment ID e.g. `http://example.com/scalar/testimony#smith-tues-Spet-23-2020`, then it does not go to the ID.

So here is the page:
`http://udigix.net/scalar

[2021-02-22 18:37] eloyer commented on #155
Hi @rcrath , I believe the issue is that you're using the id instead of the name for your anchor links. For example, this link works for me: http://udigix.net/scalar/ethnic-studies-anniversary-/testimony#KEEP_THEATRE_AND_DANCE_AT_UHM-_I_strongly_oppose_the_proposed_cuts.__22

[2021-02-22 18:57] eloyer commented on #155
Actually, that link doesn't appear to be working so well — it opens a consistent internal location in the page, but I believe it's the location of the anchor before Scalar processes the page contents, which may be different from where the anchor ends up. (You can verify by changing the layout of the destination page to Blank Slate, which removes most of the processing, and then trying the link). I

[2021-02-22 19:05] eloyer commented on #154
@rcrath Scalar doesn't currently have a way of automatically pulling in an excerpt from another page. An alternative might be to import the testimony as a plain-text document, create annotations on the lines containing each segment, and then link the annotations as notes on the quoting page. If you're interested in this approach, it'd be worth doing a small test to see if it gives you the experien

[2021-02-23 02:55] craigdietrich commented on #155
Hi @rcrath,

You can give this a try (plug it in to the "Custom Javascript" box in the Edit page of the page in question):

[code]

[2021-02-24 07:22] rcrath commented on #155
Thanks. Will try. Looks from the JavaScript that a need to add "name" field to H1 or replace id with name. I used id because I got a warning for name being obsolete when I linted it, but I'm fine with whatever gets the job done!

[2021-02-24 07:26] rcrath commented on #154
Ok. If I get the anxious to work in #155 that will do for now. I'll just make the whole quote into a link and make sure the links don't have underline in the style

[2021-02-26 04:50] rcrath commented on #155
Had to create full old <a nname> targets.  Then it worked with the is snippet. Thanks!

[2021-02-26 04:50] #155 closed

[2021-02-26 04:56] rcrath commented on #154
Got my [Xanadu excerpt lookalike](http://udigix.net/scalar/ethnic-studies-anniversary-/community-testimony). Have to type in the quote and it goes to the full testimonial my instead of actually excerpting, but this is just what I wanted more or less and loads the huge text file quickly. Thanks for fix in #154.

[2021-02-26 04:56] #154 closed

[2021-03-04 10:30] shahreahang opened #156 "installing"
Hello,

I want to install this for a customer, could someone please tell me after cloning this and doing configurations how can i access the install page or what is the main page address ? Because I saw there is no index.php in the main folder, could someone please explain this ?

[2021-03-04 18:15] craigdietrich commented on #156
The URL is simply the URL to the folder that you put Scalar in.  For example, if you put Scalar in:

`/htdocs/scalar`

... then the URL would be:

`https://myserver.com/scalar`

This is because there is a .htaccess in Scalar's root folder that handles the routing (through codeigniter.php). Make sure that .htaccess makes it into the root folder when you FTP the files (if you're on a Mac, sometimes

[2021-03-04 21:00] shahreahang commented on #156
Thank you.
I copied it to a folder and I'm following install instructions, but I get Internal Server Error, However I didn't change anything yet and maybe it's normal but what is the minimum php version required to install this ?

[2021-03-05 00:35] craigdietrich commented on #156
Scalar should work on any PHP versions (5 & 7) out in the wild.

Hmm, I haven't heard of a 500 error right out of the box like this.  Is mod_rewrite turned on in the Apache config?

[2021-03-05 22:11] eloyer commented on #152
@atmcgrath Closing, as recent commits address most issues identified in your checklist — though we will continue to test and make improvements in this area on a regular basis. Note that the large number of ARIA-hidden empty links are due to the way we include RDF data in the page. Since the links are hidden, our understanding is that this won't cause issues for screen readers, and so we're not cur

[2021-03-05 22:11] #152 closed

[2021-03-08 20:49] atmcgrath commented on #152
Wonderful, thank you @eloyer!

[2021-03-10 23:37] alexdryden opened #157 "Visualization changes in 2.5.13 breaking legacy publications"
After upgrading to v2.5.15, we noticed that path visualization pages no longer look the same as they did at the time of publication. This is an example of the page as it looked at the time of publication and on version 2.5.12:

<img width="1439" alt="Screen Shot 2021-03-10 at 6 29 23 PM" src="https://user-images.githubusercontent.com/47127862/110712126-b5e71b00-81ce-11eb-9e44-65747204eeb9.png">

A

[2021-03-11 19:09] eloyer commented on #157
@alexdryden Thanks for reporting, this appears to be a bug. Will check back in shortly with news on the fix.

[2021-03-17 20:01] hesperidium opened #158 "Where/how to input Google Maps API Key?"
This feels like such a basic question, with an answer that's probably staring me in the face, but here we are...

I am looking to use the Maps Layout and have set up a Google Cloud Platform account and gotten a Maps API Key (set with restriction to the two URLs we're I'll be using the feature), but I am not certain where to actually input the API key on Scalar. I've tried adding to the page body H

[2021-03-17 20:05] craigdietrich commented on #158
Hi!

The Google Maps API key, along with other keys, goes in the file:

system/application/config/local_settings.php

There's a lot of different settings in there that can adjust the behavior of a Scalar install.  Here is more info:
https://scalar.usc.edu/works/guide2/local-settings?path=advanced-topics

[2021-03-17 20:20] hesperidium commented on #158
Thanks for the rescue!! Will run with this...

[2021-03-20 19:13] hesperidium commented on #158
Hi Craig,

I downloaded my local_settings.php, updated the Google Maps API Key, and uploaded the edited .php, but the Maps Widget still showed "development only." When I looked closer at the local_settings.php I saw the line about overwriting with a local_settings_custom.php version, so I tried uploading that instead (all via Cyberduck to cPanel File Manager). The _custom.php upload showed up in t

[2021-03-21 20:12] bsteinig opened #159 "Importing book to local install"
Hi,

I have created a local install of scalar and would like to import an existing book from the scalar.usc.edu server onto the local install. I installed the import tool, however when importing the book url I get two messages, the first is: "Source book checks out." and the second is "The request to external RDF-JSON failed". I have checked to make sure the source book is public. I'm not sure wha

[2021-03-21 23:40] craigdietrich commented on #158
If you put the key in local_settings.php, you should be all set.  (I wouldn't mess with local_settings_custom.php, that's a special case.)

If it's still not working it means that the key may not be fully set up.  Unfortunately, the Google Console is so confusing these days, it takes some trial and error.

What does the Console say when you try to load a map?  You can get to this in Menu > More To

[2021-03-21 23:41] craigdietrich commented on #159
Can you shoot me an email (craigdietrich at gmail) with the URL to the source book?

[2021-03-22 17:00] hesperidium commented on #158
Thanks, Craig! Yeah, Google Console is a cluster... I'm still getting the same "No API Key" error message on the Scalar side, and on the Google side it's showing no API requests yet, so something is definitely up. I'll keep tinkering.

[2021-03-22 17:12] craigdietrich commented on #158
Shoot me an email (craigdietrich at gmail) and let's see if we can figure out what's going on?

[2021-03-22 18:47] hesperidium opened #160 "Changing "Begin with 'X'" path button"
Attempting to customize "Begin with 'X'" button to say "Enter".

I've been starting with the script for customizing the relationships headers...

[code]

...and trying different updates to the last line/adding lines based on the HTML description of the button in question (.path_begin.nav_btn.primary and variations on this) and the '// "begin with" button' section of the scalarpage.jquery.js (below

[2021-03-22 19:05] craigdietrich commented on #160
Hi @hesperidium,

The first code snippet you posted, that works, correct?  Ie, it changes the path button's text to 'NEW TEXT'?

If so, I'm not 100% sure what you're trying to do in the next snippet.  Why can't 'NEW TEXT' simply say, 'Enter'?

[2021-03-22 19:34] hesperidium commented on #160
Hi again, Craig, thanks for all your help!

So the first snippet is what I've been using to change the standard "Contents" path header (text only, not a link) to say something else. I've also used that same format to change the "Is tagged by" and "Has tags" defaults to custom text.

What I'm looking to do now is to customize the "Begin with 'X'" button that appears underneath the path via the line

[2021-03-22 19:42] craigdietrich commented on #160
Would this work?

[code]

[2021-03-22 20:06] hesperidium commented on #160
That's IT! ` .next()` was the key. Thanks a million!

[2021-03-25 02:01] #160 closed

[2021-03-25 02:01] #159 closed

[2021-03-25 02:02] #158 closed

[2021-03-26 13:41] paulmer opened #161 "Deprecated flag warning under PHP 7.4"
The filter_var on line 501 of system/application/controllers/books.php uses the deprecated flag FILTER_FLAG_HOST_REQUIRED which generates a visible warning when running in development mode.  This flag has been implied with FILTER_VALIDATE_URL since PHP 5.2.1 and can safely be removed from the code to eliminate the warning.

[2021-03-26 19:23] craigdietrich commented on #161
Hi @paulmer!

So, you're saying we could replace this:

`filter_var($this->data['prev'],FILTER_VALIDATE_URL,FILTER_FLAG_HOST_REQUIRED)`

... with this:

`filter_var($this->data['prev'],FILTER_VALIDATE_URL)`

[2021-03-26 19:26] paulmer commented on #161
That's right, more specifically the line should read:

`
if ((filter_var($this->data['prev'],FILTER_VALIDATE_URL) === FALSE) || (filter_var($this->data['link'],FILTER_VALIDATE_URL) === FALSE)) {
`
since filter_var appears twice with that flag.  Sorry I'm not able to put a pull request together on this right now.

[2021-03-26 19:44] craigdietrich commented on #161
Done!

https://github.com/anvc/scalar/commit/af5012503bebef991647a87587cf8c906775a4a3

Thanks!

[2021-03-26 19:44] #161 closed

[2021-03-30 22:17] eloyer commented on #157
@alexdryden This should be fixed now in 2.5.16.

[2021-03-30 22:17] #157 closed

[2021-04-13 13:54] kris-joseph opened #163 "Annotating with annotations of video"
I'm working with a clever graduate student who is using Scalar to annotate images as part of a digital exhibit. One of her media pieces is a YouTube video of a panel discussion, and she wants to be able to reference clips _within_ the video.

To do this, she has annotated the video to create a clip. Then she added the video annotation as an annotation to a region on her image.

Even though the rel

[2021-04-13 21:35] perrymcclurecollins opened #164 "Content disappearing in edit stages"
I'm in the final stages of editing a book and have started moving pages to "edit review" for the author. I assigned myself as an author to test out this stage, and when I try to edit the content flashes for a moment before everything goes blank and grayed out. This doesn't seem to be an issue for the draft or edit stages, but is for edit review and clean. The content still appears on the reader en

[2021-04-14 22:57] eloyer commented on #163
I'm not totally following how the image comes into play, but it sounds from your description like a video annotation isn't cueing up correctly. Can you DM us a link to the annotation that's not working to [anvcscalar](https://twitter.com/anvcscalar) on Twitter?

[2021-04-14 22:59] eloyer commented on #164
Can you DM us a link to the book in question to [anvcscalar](https://twitter.com/anvcscalar) on Twitter?

[2021-04-15 11:56] kris-joseph commented on #163
We now think it's a browser issue ... it's working on Chrome but not in other browsers. I'll DM you a link to the media page where the experiment is taking place ;)

[2021-04-15 16:34] perrymcclurecollins commented on #164
Can you follow me back so I can DM? [perrycollins](https://twitter.com/perrycollins)

[2021-04-22 15:08] ColeDCrawford opened #165 "CodeIgniter Update?"
Hi Craig and team - I was wondering if there is a timeline for upgrading CodeIgniter 2 to v3 or v4. I saw this old issue from 2017 around the same question: https://github.com/anvc/scalar/issues/77. It looks like CodeIgniter v2 has been EOL since 2015, so I don't think it's getting any security patches or updates at this point. Not sure how those potential vulnerabilites are being tracked or handl

[2021-04-23 23:43] eloyer commented on #163
Sorry for the delay in responding — the edit to your comment didn't trigger a notification to us. Looking at the page now, it looks like your student is going an alternate route with edited audio instead of the annotated video... is that working out? Very creative approach, btw!

[2021-04-26 18:17] eloyer commented on #164
Fixed in v2.5.17.

[2021-04-26 18:17] #164 closed

[2021-04-30 20:09] craigdietrich commented on #165
Hi @ColeDCrawford,

No plan to update CodeIgniter at this stage.  As you mention, it's a pretty monumental effort, for both the update and for systems that run Scalar to update (they would need to change config files, update core files, etc..).

[2021-05-04 20:20] NumerousHats opened #166 "Is there a reason note links do not show up in "Visual Path" layout?"
After inserting a note link on a page (using the "Insert Scalar Note" button), I can see it as an HTML `<a>` with the little "piece of paper with the folded-up corner" icon in front of it, but only if I use the "Basic" layout. If I switch to "Visual Path", the link vanishes. The text and the enclosing `<span class="note">` is still there, but the JS that magically converts it into an `<a>` apparen

[2021-05-04 22:17] eloyer commented on #166
It was by design, but we can't remember why (!), so unless our memories get jogged we're going to go ahead and add notes to the layouts that don't currently support them in the next update. In the meantime, you can add this snippet to the custom JavaScript for the path to cause the notes to appear:

[code]

[2021-05-04 22:23] NumerousHats commented on #166
Thanks! I'll give it a shot.

[2021-05-04 23:41] NumerousHats commented on #166
It works, and it doesn't seem to break anything. Thanks for the quick help!

I'm leaving this issue open, in case you want to use it as a "milestone" for your next update. If not, you can close it...

[2021-05-21 13:30] alexdryden opened #167 "Creating relationships with CSV bulk importer"
Is there a way to create relationships with the CSV bulk importer?

[2021-05-21 16:55] eloyer commented on #167
Not currently, no — this could be done in bulk with the API, but would require custom JavaScript.

[2021-05-25 16:09] Grantglass opened #168 "Error with sending email"
system/application/libraries/SendMail.php:109

Looking at that file, it actually looks like there is a discrepancy between the instructions in the config file and the sendmail code.

That function starts with:
    private function send($arr=array()) {

        $mail = new PHPMailer;

        $smtp_host = $this->CI->config->item('smtp_host');
        if (!empty($smtp_host)) {

Note that it’s instan

[2021-05-30 19:25] craigdietrich commented on #168
Hi @Grantglass,

Thanks for reaching out! I admit that I'm not sure what problem you're describing? Could you elaborate?

[2021-05-30 20:21] Grantglass commented on #168
I am having trouble sending emails, my server uses php mail and I’ve tried
to configure scalar and it to send emails but it fails. How should I
configure the scalar environment variables so I can use the php mail
service and not it?

On Sun, May 30, 2021 at 3:25 PM Craig Dietrich ***@***.***>
wrote:

[2021-06-07 21:49] craigdietrich commented on #168
Right, so, the way we implemented the email system is using SMTP, and 'new PHPMailer' is an SMTP helper class unrelated to PHP's mail() function.  You'd need to have SMTP active on your server and an account (e.g., a Gmail account or an institutional account) to point the SMTP fields towards.

There is no support for mail(), though that doesn't mean we can't add it, say with a field in local_setti

[2021-07-16 19:30] maxgray20 opened #170 "required variables at local_settings.php?"
Hello:

My name is Maxwell Gray and I’m a digital scholarship librarian in Raynor Memorial Libraries at Marquette University. I’m seeking to run my own installation of Scalar using Bluehost for web hosting following the installation instructions. I’m able to follow the instructions, but the “log in” and “register” links don’t work at my install here: https://maxgray20.com/xcalar/. I didn’t set the

[2021-07-16 21:05] craigdietrich commented on #170
Hi @maxgray20,

It appears that URL routing isn't working on your install.  URL routing is governed by a .htaccess file in the Scalar root folder.  I would look to see if it's there (maybe it didn't get copied? -- depending on how you're viewing your filesystem, it might be hidden).

Also, Apache's mod_rewrite needs to be turned on for .htaccess files to operate. I'm not sure why mod_rewrite would

[2021-07-19 20:48] maxgray20 commented on #170
Hi @craigdietrich,

Thanks for this note! I confirmed the .htaccess file in the Scalar root folder, and I believe "Fast CGI" is turned off because other .htaccess files in other root folders are working properly. I have multiple application root folders in my public_html folder at my cPanel File Manager. Do you think the installation location is creating the problem for the application?

Cheers,
M

[2021-07-20 18:07] craigdietrich commented on #170
Unfortunately, if .htaccess' are operational, I'm not sure why the routing isn't working.

Can you go ahead and email me at craigdietrich at gmail?  We can see if we can find the root of the problem.

[2021-07-20 19:48] maxgray20 commented on #170
Hi @craigdietrich,

Sounds good. Yes, I'll email you here now. Thank you very much! I appreciate it a lot.

Cheers,
Max

[2021-07-28 17:57] #170 closed

[2021-08-02 00:46] EmilyMarsh opened #173 "Problems with mobile display"
Hi

I have an external installation at https://scalar.emily-marsh.com/naldc.

The display on a laptop or monitor is fine.

The display on mobile (iPad) is not as good, however. The key images for the pages included in the relevant path appear distorted.

Here is a page formatted as a visual path.

On laptop:

![image](https://user-images.githubusercontent.com/5777982/127790648-f3436507-c286-401e-8

[2021-08-02 18:28] eloyer commented on #173
@EmilyMarsh It looks like the mobile styles aren't being properly applied at larger sizes (the same issue occurs with a phone in landscape orientation). iOS doesn't support `background-attachment: fixed` which enables the "background stays put while everything else scrolls" effect, but images are also not scaling correctly to fit the size of the container element. Still assessing a fix.

[2021-08-10 20:41] michael-wynne-wsu opened #174 "Reclaim hosting 2.5.17 > 2.6 update issues"
We've run into some issues with the latest update on Reclaim Hosting, and they suggested contacting y'all directly.

At the moment, all pages seem to have the dc:date field dropped from their metadata after running the 2.6 update. Not sure yet if there are other issues (we updated last week and the instance imploded, trying again from a restored backup).

Any information either to troubleshoot our

[2021-08-11 19:21] eloyer commented on #174
Sorry to hear that the upgrade hasn't gone well -- can you provide a link to the instance and some more details about it's current state? Did the date metadata disappear when you restored from backup, after you tried to update again, something else? It'd also be good to know more about specifically what you saw when the install "imploded". FWIW, our test Reclaim instance upgraded smoothly.

[2021-08-11 20:43] michael-wynne-wsu commented on #174
Thanks Erik,

- Main instance is here: https://cdsc.libraries.wsu.edu/scalar
- The book I'm working on currently isn't public, but can share elsewhere if needed.
- Happy to grab any relevant details from the instance or Reclaim as needed.

And the more detailed timeline:
- Site auto updated from 2.5.17 > 2.6, didn't notice any issues for a few days.
- After the 2.6 update, I created a timeline pag

[2021-08-11 20:44] eloyer commented on #173
@EmilyMarsh We've got a fix for this that will roll out in the next update.

[2021-08-11 20:44] #173 closed

[2021-08-11 21:26] EmilyMarsh commented on #173
Awesomeness. Thank you!

[2021-08-12 19:28] eloyer commented on #174
Thanks @michael-wynne-wsu , this is helpful. Could you DM us the URL for your book and your install's registration key on Twitter @anvcscalar or via email at alliance4nvc@gmail.com?

[2021-09-21 13:47] atmcgrath opened #175 "Add field for alt text?"
I'm compiling some documentation for web accessibility best practices for Scalar and I'd like to request a feature: adding a dedicated metadata field for alternative text/image description. Currently the 'dcterms:description' field sets the 'alt' attribute, but because this is used for a variety of other purposes within scalar, another option would be ideal.

[2021-09-22 17:29] alexdryden opened #176 "User entered JS to modify book splash pages"
I have a user who wants to add some custom JavaScript to a book splash page and the header menu. They are trying to make changes to the title and author (change "by" to "edited by" and move the semi-colon from the span with the subtitle to the span with the title).

They were able to move the semi-colon through basic DOM manipulation:
[code]
but they were not able to use this same model to change

[2021-09-22 17:38] craigdietrich commented on #176
Hi @alexdryden,

I think what you're looking for is the 'pageLoadComplete' event.  It's easy to use, you just wrap your document ready event with it, here is documentation:

https://scalar.usc.edu/works/guide2/pageloadcomplete-event

[2021-09-22 18:20] alexdryden commented on #176
Perfect! Thanks!

[2021-09-22 18:20] #176 closed

[2021-10-12 08:27] rcrath opened #178 "Restoring from a catastrophe with only database backups and the media folder"
Hi, I had a catastrophe and lost my scalar install with all the backups (two local hard disk fails, backup company abruptly stopped supporting linux, errant dean deleted the actual site.   I have reconstructed the database backups from the broken hard drives and have most of the images in the media folder.  I am after one book as a test case and imported that book's book ID, Contents, user (just m

[2021-10-12 20:59] alexdryden opened #179 "Ediorial workflow creates unreachable changes"
**Issue**
We are using the editorial workflow in a publication for the first time and came across a behavior where an edit produces two edits over the same target text, and only one of them is visible to the author. As a result, the author can not push the page to a clean state without using the "accept all" or "reject all" buttons.

**Details**
The problem emerged when the author had produced a s

[2021-10-13 03:55] rcrath commented on #178
My guess is that for some reason, the database connection fails for the content and media but not for book ID or User (or Book Users). It might be a scalar version thing since this was from a 2019 version of scalar.  Or maybe a PHP 7 problem?

[2021-10-17 10:52] #178 closed

[2021-10-30 16:52] waltster opened #180 "Mirador integration not functioning"
I have been testing a Scalar instance and trying to use the Mirador viewer with a manifest. When I load it into the included viewer, it does not render the manifest content. To remedy the issue, I built my own `Mirador.min.js` and uploaded it to the Scalar instance and was able to get it working. I am wondering if this has been reported before? If so, is there a known fix?

The manifest is valid I

[2021-11-02 22:03] eloyer commented on #180
We haven't encountered this before — would you be willing to share your manifest for us to test with?

[2021-11-08 16:47] waltster commented on #180
@eloyer sure, here it is!

[code]

[2021-11-08 19:26] eloyer commented on #180
@dodget Would you mind taking a look at this? I can confirm the reported behavior. Perhaps the bundled player is due for an update?

[2021-11-09 19:38] dodget commented on #180
@eloyer - I'll take a look and hopefully get it resolved by the end of the week!

[2021-11-10 00:53] craigdietrich commented on #180
@eloyer @dodget

Does @waltster's JSON load into the Mirador demo at https://mirador-dev.netlify.app/__tests__/integration/mirador/ ?

[2021-11-10 03:00] waltster commented on #180
@craigdietrich @eloyer @dodget The JSON does load! Here's a [Gist with it](https://gist.githubusercontent.com/waltster/1830b76fb496d5d786d6900094b33887/raw/c8bcdf407ded7768f08868f74e17d1953d3399a3/gistfile1.txt) that you can use to test!

[2021-11-16 21:32] #180 closed

[2021-11-16 21:36] eloyer commented on #180
Thanks so much @dodget !

[2021-12-12 17:36] localhost1729 commented on #150
I have integrated [dompdf](https://github.com/dompdf/dompdf) successfully with other PHP MVC frameworks. [This tutorial](https://codecap.org/codeigniter-3-generate-pdf-from-view-using-dompdf-library-with-example/) may be partially instructive for codeigniter devs.

[2021-12-12 17:45] mat-k-witts opened #182 "Child Themes"
I have a few UI hacks that are nice for self-hosted, standalone instances. Trouble is of course they get overwritten on every update. It might be nice to have a standard 'child theme' / cascading development architecture similar to drupal/wordpress/hugo/jekyll etc. that allow UI / templating customizations to stick while the core files are updated.

[2021-12-14 20:38] #98 closed

[2021-12-14 20:40] #101 closed, assigned to nobody

[2021-12-14 21:01] #106 closed

[2021-12-14 21:33] #156 closed

[2021-12-14 21:35] #174 closed

[2022-01-21 02:45] schnydszch opened #184 "Annotating PDF files."
Hi! I am trying to learn Scalar. I tried to search if there's a way to annotate PDF, it seems there is no way to annotate pdf. What I saw in https://scalar.me/anvc/features/annotations/ is that we are able to annotate "video, audio, images, source code, and text". By text here is the html text. I've tried hypothes.is, I cannot also see a '"'  button when highlighting text in the pdf file. Please a

[2022-01-24 17:23] eloyer commented on #184
Hi @schnydszch , you are correct, there's currently no way to annotate a PDF in Scalar.

[2022-02-15 10:27] mat-k-witts opened #186 "PHP Fatal Error"
Followed INSTALL.txt and get:

`Fatal error: Uncaught TypeError: filter_var(): Argument #3 ($options) must be of type array|int, string given in /home/user/scalar-latest/system/core/Input.php:392 Stack trace: #0 /home/user/scalar-latest/system/core/Input.php(392): filter_var() #1 /home/user/scalar-latest/system/core/Input.php(355): CI_Input->valid_ip() #2 /home/user/scalar-latest/system/libraries/

[2022-02-15 19:19] craigdietrich commented on #186
Hi @localhost1729,

It looks like you found a good fix on Stackexchange, thanks!

I don't have PHP 8 running to be able to test a fix, though. I'll put this on my TODO list though and see what I can do.  This would be a biggy, of course, if it impacts all PHP 8 installs.

[2022-03-10 14:07] schnydszch opened #187 "Uncaught Exception: Could not resolve version ID before saving to the semantic store"
I cannot save a page for a scalar I created, I am getting the following error: PHP Fatal error:  Uncaught Exception: Could not resolve version ID before saving to the semantic store. in /var/www/scalar/system/application/models/version_model.php:548\nStack trace:\n#0 /var/www/scalar/system/application/controllers/api.php(179): Version_model->create()\n#1 /var/www/scalar/system/core/CodeIgniter.php

[2022-03-11 09:36] schnydszch commented on #187
Hi! It seems I got this error because of a long title. After putting a shorter title, I was able to save the page.

[2022-03-11 19:25] craigdietrich commented on #187
Ah, yep, this has come up before.  I've had it on my list to trim the slug when a title is long like that.  Thanks for the report!

[2022-03-11 19:25] #187 closed

[2022-03-12 03:26] schnydszch opened #188 "Playing Youtube Scalar Media"
I am trying out Scalar Media Link. I have youtube videos added as media but they have the same video source, only differentiated by the start and end time (e.g. https://youtu.be/ECXkBgDfvts?start=2130&end=2354 and https://youtu.be/ECXkBgDfvts?start=1662&end=2120). The thing is if the videos are played, whatever was the last timestamp for a particular youtube media, that timestamp is assumed even t

[2022-03-21 18:38] eloyer commented on #188
@schnydszch We've got a fix, need to do some testing and then we'll update our install.

[2022-03-22 00:06] schnydszch commented on #188
@eloyer  Thanks for the fix! How do I add the patch to my current install? Or will just wait for the updated version. Thanks again!

[2022-03-22 16:44] eloyer commented on #188
@schnydszch Are you running your own install, or are you on Reclaim?

[2022-03-23 03:03] schnydszch commented on #188
@eloyer I am running on my own.

[2022-03-23 17:37] eloyer commented on #188
@schnydszch You can just update from the repo, we haven't seen any issues in testing.

[2022-03-23 17:37] #188 closed

[2022-03-23 21:15] jaguillette opened #190 "Tag cloud layout creates word cloud visualization"
When selecting a "Tag cloud" layout option for a page, the visualization created at the top of the page is a word cloud, although I'm not certain where the word cloud data is drawn from. The interaction and tooltip is the same as a visualization widget word cloud, and no longer contains links to tags. This was reported by a faculty member, and I don't yet know when the last time that the visualiza

[2022-03-24 13:44] jaguillette commented on #190
It seems that the "tag cloud" layout was working in December, so it's likely a change since then.

[2022-03-24 21:05] craigdietrich commented on #186
Following up on this, I have a PHP8 server up and running and have the same error showing, so now I can work on the fix that you found.

More as things materialize....

[2022-03-24 23:29] craigdietrich commented on #186
@mat-k-witts Alrighty, this should do the trick:

https://github.com/anvc/scalar/commit/fb8838f5cfd970edb3538ab86338e7374064af3c

Lemme know if this works for you or if you run into any other problems!

[2022-03-25 10:44] Austin122334 opened #191 "Registration Key for scalar.edu"
Hi there, I'm unable to DM to scalar. I've been trying to get a registration key for a few weeks. Sent in the form but no reply. Could you please advise? I need a registration key.
 Thanks!

[2022-03-25 14:23] eloyer commented on #191
@Austin122334 If you follow the instructions at https://scalar.me/anvc/contact/ then we can help.

[2022-03-25 14:23] #191 closed

[2022-03-25 20:32] Austin122334 commented on #191
I have tried many times but unfortunately failed to contact.

[2022-03-25 20:32] Austin122334 opened #192 "Registration Key for Usc.edu"
Hi there, I'm unable to DM to scalar. I've been trying to get a registration key for a few weeks. Sent in the form but no reply. Could you please advise? I need a registration key.

Thanks!

[2022-03-25 23:09] eloyer commented on #191
Have you tried emailing us directly using the address on that page, instead of using the form?

[2022-03-27 19:41] Austin122334 commented on #191
Yes, i have tried many times.

On Sat, Mar 26, 2022 at 5:10 AM Erik Loyer ***@***.***> wrote:

[2022-03-28 16:46] eloyer commented on #191
If you are not able to email us at alliance4nvc@gmail.com from an email address affiliated with an academic or cultural institution, with a description of your planned uses for Scalar, then we are unable to provide a registration key. Please refrain from creating future issues on this topic.

[2022-03-28 16:47] eloyer commented on #192
Already addressed in #191

[2022-03-28 16:47] #192 closed

[2022-03-28 16:59] eloyer commented on #190
Can confirm, we're looking into a remedy.

[2022-03-29 15:45] kris-joseph opened #193 "IIIF/Mirador manifest issue"
Hi there,

I have an example of an IIIF manifest from the Library of Congress that isn't functioning on Scalar media import in v2.6.1

The item is located at [https://www.loc.gov/resource/mss85590.103/](https://www.loc.gov/resource/mss85590.103/) and the IIIF manifest is linked to the record as [https://www.loc.gov/item/cosmos000105/manifest.json](https://www.loc.gov/item/cosmos000105/manifest.jso

[2022-03-30 13:00] kris-joseph commented on #193
Hi there,

There's a public version of the media import page at [https://scalar.library.yorku.ca/star-stuff/sagan-with-viking-lander-module](https://scalar.library.yorku.ca/star-stuff/sagan-with-viking-lander-module)

What I've noticed is that if I "edit" the media, the media type is listed as "Standard media" even though I was sure to set it to IIIF on import. If I change the media type to "IIIF

[2022-03-30 13:12] kris-joseph commented on #193
A quick update: I looked at the code commits for the IIIF integration. On a hunch I manually added "?iiif-manifest=1" to the end of the content URL. After saving, the manifest and Mirador load properly.  Sooooo.... I'm still confused but at least I have a workaround.

[2022-03-30 16:49] eloyer commented on #193
Yep, that URL param is what tells Scalar that the media item is a IIIF manifest, so that workaround is solid. I'm not able to duplicate the "defaulting to standard media" behavior so far... does it happen every time you edit the media?

[2022-03-30 18:49] jaguillette commented on #190
That's correct! We're due for an update from the main branch anyways, so we'll be updating this sprint. Thank you!

[2022-03-31 15:24] kris-joseph commented on #193
Once the media has been correctly flagged as IIIF (with the workaround), it gets listed properly as an IIIF manifest... but before the workaround, it insists on keeping it as standard media even if I switch it to IIIF and Save or Save and View. It's definitely an odd behaviour, but with the workaround it's not any kind of showstopper :)

I'd be willing to set you up to access our server's front en

[2022-03-31 19:53] #186 closed

[2022-03-31 19:53] #184 closed

[2022-03-31 19:53] #182 closed

[2022-05-02 19:48] alexdryden opened #194 "Feature Request: Footnotes"
Many of our scholarly publications that use Scalar have a need for footnotes. For several years we have been offering authors a html/css recipe that a GA devised for handcrafted footnotes, but this solution has proven to be error prone and tedious. So I developed a CKEditor [plugin](https://github.com/UIUCLibrary/scalarfootnotes) for inserting footnotes (adapted from [this](https://ckeditor.com/ck

[2022-05-03 17:57] eloyer commented on #194
Hi @alexdryden , thanks for reaching out on this — would be happy to take a look at a PR. And yes, we'd be interested in hearing more from @maryborgoton about the needs you've been addressing. Footnotes are a frequent request, but one that ends up being tackled by authors in a variety of ways, with good reasons behind each approach that have probably stymied development of a single solution.

[2022-05-03 18:44] alexdryden commented on #194
Sounds great @eloyer. I'll be out on vacation for the next week, but when I get back I'll finish incorporating some feedback from our beta testing and put together the PR. And I'd be really interested to see some of the other solutions folks have come up with.

Having a footnotes solution upstream is important enough to our org that I would be more than happy to help iterate a final solution if th

[2022-05-03 18:51] mat-k-witts commented on #194
I have been thinking of wring a Zotero plugin for a while now based on something [here](https://www.zotero.org/support/plugins). Not sure.... I keep flip flopping about doing it...

[2022-05-04 17:03] jwr12 commented on #194
Hi @eloyer ! I also would like to thank you for looking into this, as I think it would be a really great idea!  The Scalar Note and Annotation functions are handy for some things, but as Mary and Alex have said, they aren't ideal for all scholarly functions.  I run a student-based digital documentary editing program that uses Scalar as its interface, and since citation rigor is really important to

[2022-05-04 17:21] eloyer commented on #194
Thanks @maryborgoton and @jwr12 for your thoughts, and appreciate your willingness @alexdryden to contribute dev time to this. It's clearly a need -- once we've had a chance to review the pull request we can give more substantive feedback.

[2022-05-05 16:24] cgoodwinDH commented on #194
Hello @eloyer I wanted to advocate for developing greater footnote support along with @jwr12 and @maryborgoton ! It would be a major boon for academic publication and especially for current and aspiring digital humanists. It would help propagate work to a wider audience, but also ease learning the platform (which would spread its use as well).

Thank you for considering this!

[2022-06-09 20:44] atmcgrath opened #196 "Annotating .dzi files?"
Are annotations supported for .dzi items? If they are not currently supported, is there a plan to add that?

[2022-06-10 14:57] eloyer commented on #196
Annotations on .dzi files are not supported, and we don't currently have plans to implement. As an alternative, our IIIF player Mirador does support annotations, but they would need to be created externally and would be local to the player (i.e., not Scalar "native" annotations).

[2022-06-13 17:49] rmiessle opened #197 "File upload error - Maximum execution time of 300 seconds exceeded in ... /system/application/libraries/Image_Metadata.php"
Scalar 2.6.1 with PHP 7.4 hosted on Reclaim.

When attempting to upload a not-really-too-large-for-the-modern-internet PDF file (about 20MB) the Scalar file upload keeps timing out with the Javascript error message:

`There was an error saving the file: SyntaxError: Unexpected token < in JSON at position 0`

The app’s error_log shows a timeout - `Maximum execution time of 300 seconds exceeded in /

[2022-06-21 17:16] apjmason opened #198 "Editorial workflow editor Accept changes?"
Is it possible for Editors to approve changes and override the Edit Review stage if Authors are non-responsive?

I'm using the Editorial workflow (which is great!) for a class project in which students authored pieces. Now the term has ended and I can't guarantee student authors will act to approve changes and move it to the Clean state. How can I override?

Thanks!

[2022-06-21 19:54] mackensen commented on #197
We're seeing similar behavior with Scalar 2.6.0, PHP 7.2, self-hosted on AWS using Fargate. Smaller uploads are fine, but upwards of 20 MB seem to be a problem. We saw timeouts at 60 seconds because of the load balancer configuration, raising that to 120 seconds caused uploads to timeout at 120 seconds instead.

[2022-06-21 20:05] mackensen commented on #197
Clarification: we're seeing this with PDFs and WAV files. JPGs are fine.

[2022-06-22 16:23] eloyer commented on #198
Glad the workflow has been useful! There isn't a direct way to do this, but there are two workarounds. One is to create another author user for yourself to approve the changes. Another would be to turn off the workflow entirely (which we'd only recommend if you're not planning to make any further edits).

[2022-06-22 17:28] rmiessle commented on #197
Glad to know it's not something Reclaim-specific, then, so hopefully it will get resolved.

[2022-06-22 18:36] apjmason commented on #198
Oh, I see. Any author can approve any changes in the Edit Review state! I thought it would only allow the original content author to approve. A separate author user is fine for this. Thanks!

[2022-06-22 22:54] #198 closed

[2022-06-23 15:57] eloyer commented on #197
The "unexpected token" error indicates that a PHP error is being returned — can either of you inspect the request and report what the full error is?

[2022-06-23 16:22] rmiessle commented on #197
Are you looking for something other than the error_log file in the scalar directory? When I attempted again this is the most recent error

[23-Jun-2022 16:16:06 UTC] PHP Fatal error:  Maximum execution time of 300 seconds exceeded in /home/foo/public_html/bar/scalar/system/application/libraries/Image_Metadata.php on line 178

[2022-06-23 16:28] eloyer commented on #197
The line number is what I was after, thanks — looking into it. If the need is urgent, a workaround would be to upload the files to the /media directory of your project manually, and then import the URL of the file into Scalar instead of uploading.

[2022-06-23 16:48] rmiessle commented on #197
thanks, not urgent. FWIW I've seen this error before with uploading a file to scalar, just a long time ago. I don't remember what the workaround was back then, if it was the file URL import or if it was something different.

[2022-06-24 17:27] rmiessle commented on #197
thanks!!

[2022-08-31 15:04] srob4757 opened #200 "New tags do not save and existing tags disappear"
I have a Scalar 2.6.2 install on Reclaim Hosting that has stopped saving tags: I can sometimes get up to 5 tags on a page to save without an issue, but if I save a page with 6 or more tags, additional tags do not save and some existing tags disappear every time I save. I have worked with Reclaim to restore multiple backups, but the problem persists. During the save the count of relations hangs bri

[2022-10-07 13:55] mmcloe opened #201 "Error when adding items to a path"
I am running Scalar 2.6.2 on Reclaim Hosting and am no longer able to to consistently add items to a path anymore. Adding items to a path results in a 404 error message and deletes most of the path items on the page, forcing me to install previous versions of the page. There doesn't seem to be any pattern as to which pages successfully add to a path and which fail, but I have noticed that difficul

[2022-10-11 20:40] mmcloe commented on #200
@srob4757 hi! Did you ever manage to resolve this. I'm having a similar issue with adding to paths.

[2022-10-12 11:53] srob4757 commented on #200
My problem seems to have been with the install on Reclaim Hosting - a WordPress site was somehow interfering with the Scalar site. Moving the site to another domain has fixed it for now

Sent from my iPad

[2022-10-12 14:20] mmcloe commented on #200
Thank you!

[2022-10-12 15:40] #200 closed

[2022-10-12 15:53] eloyer commented on #201
As you saw in the comments on the other issue, we've seen a similar problem triggered by having an active WordPress install on the same Reclaim account. Is that the case for you?

[2022-10-12 16:05] mmcloe commented on #201
I believe this is the same issue, yes. I talked with some folks at Reclaim Hosting and they suggested that I clone my site to a separate domain. Unfortunately, it doesn't seem like Scalar is an application that can be cloned.

[2022-10-12 16:52] mmcloe commented on #201
Update: I just moved my Scalar site to a new subdomain on Reclaim Hosting, the problem is still persisting.

[2022-10-12 18:02] eloyer commented on #201
Can you reach out to us at alliance4nvc@gmail.com and provide the URL to your project so we can take a look?

[2022-10-19 14:05] eloyer commented on #201
Moving the project to a new server on Reclaim appears to have solved the issue, closing.

[2022-10-19 14:05] #201 closed

[2022-11-01 13:28] jhary2112 opened #202 "Error in Rendering"
Sorry if this is an obvious issue, but I am getting what appears to be PHP code in my index page.

![Screenshot 2022-11-01 at 9 26 16 AM](https://user-images.githubusercontent.com/117181182/199244249-ebfe7f8e-5bf6-4976-8ed1-f8eed763ce30.jpg)

Perhaps this is an Apache config problem? Any advice would be appreciated.

[2022-11-01 20:24] jhary2112 commented on #202
YEs, I recall reading that somewhere—maybe on the install doc. Thanks very much; this solved the issue.

[2022-11-07 16:37] jakeparis opened #203 "PHP 8.1 throws errors in development mode"
As far as I can tell, the site works ok on php 8.1. However, there are quite a few errors showing in development mode that are noteworthy. For example:

[code]